<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div [hidden]="loading" class="content-box">

  <app-back-button [id]="'codelist_create_back_button'" (back)="back()"></app-back-button>

  <div class="row">
    <div class="col-12">
      <h1 class="pull-left" translate>{{pageTitle}}</h1>
      <app-content-language></app-content-language>
    </div>
  </div>

  <form [formGroup]="codeSchemeForm" #form="ngForm">

    <div class="row">
      <div class="col-12">
        <app-editable-buttons [form]="form"></app-editable-buttons>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10">
        <app-coderegistry-input id="code_registry_input"
                                [label]="'Coderegistry' | translate"
                                (loaded)="codeRegistriesLoaded = true"
                                [formControlName]="'codeRegistry'"></app-coderegistry-input>

        <app-literal-input [id]="'codelist_value_input'"
                           [label]="'Code list value' | translate"
                           [formControlName]="'codeValue'"></app-literal-input>

        <div class="form-group">
            <app-error-messages id="code_list_form_error_messages" [control]="codeSchemeForm"></app-error-messages>
        </div>

        <dl *ngIf="showUnfinishedFeature">
          <dd>
            <div>
              <button id="open_terminology_modal_button"
                      type="button"
                      class="btn btn-sm btn-action mt-2"
                      (click)="openTerminologyModal()" translate>Get concept from Controlled Vocabularies</button>
            </div>
          </dd>
        </dl>
        <div *ngIf="showUnfinishedFeature && codeSchemeForm.controls['conceptUriInVocabularies'].value?.toString().length > 0">
          <dl>
            <dt><label>{{'Vocabularies URI' | translate}}</label></dt>
            <dd>
              <a>
                <i id="{{'remove_concept_uri_in_vocabularies_link'}}"
                   class="fa fa-times"
                   (click)="removeConceptUriInVocabularies()"></i>
              </a>
              {{codeSchemeForm.controls['conceptUriInVocabularies'].value}}
            </dd>
          </dl>
        </div>

        <app-localizable-input [id]="'codelist_name_input'"
                               [label]="'Code list name' | translate"
                               [formControlName]="'prefLabel'"></app-localizable-input>

        <app-classifications-input [id]="'codelist_classification_input'"
                                   [label]="'Classification' | translate"
                                   [formControlName]="'dataClassifications'"></app-classifications-input>

        <app-localizable-textarea [id]="'codelist_description_textarea'"
                                  [label]="'Description' | translate"
                                  [formControlName]="'description'"></app-localizable-textarea>

        <app-localizable-textarea [id]="'codelist_definition_textarea'"
                                  [label]="'Definition' | translate"
                                  [formControlName]="'definition'"></app-localizable-textarea>

        <app-localizable-textarea [id]="'codelist_changenote_textarea'"
                                  [label]="'Changenote' | translate"
                                  [formControlName]="'changeNote'"></app-localizable-textarea>

        <app-literal-input [id]="'codelist_version_input'"
                           [label]="'Version' | translate"
                           [formControlName]="'version'"></app-literal-input>

        <app-literal-input [id]="'codelist_source_input'"
                           [label]="'Source' | translate"
                           [formControlName]="'source'"></app-literal-input>

        <app-literal-input [id]="'codelist_legal_base_input'"
                           [label]="'Legal base' | translate"
                           [formControlName]="'legalBase'"></app-literal-input>

        <app-literal-input [id]="'codelist_governance_policy_input'"
                           [label]="'Governance policy' | translate"
                           [formControlName]="'governancePolicy'"></app-literal-input>

        <ng-container *ngIf="!cloning">
          <app-status-input id="codelist_status_input"
                            [formControlName]="'status'"></app-status-input>
        </ng-container>

        <app-date-range-input id="codelist_validity_input"
                              [label]="'Validity' | translate"
                              [formControlName]="'validity'"></app-date-range-input>
      </div>
    </div>

  </form>
</div>
