@import "../../../theme/variables";

.codes {

  color: $primary;
  font-size: large;
  min-height: 200px;

  .code {
    cursor: pointer;
    margin-right: 200px;
    padding: 10px 40px;
    background-color: $light;
    margin-top: 5px;
  }
}
