<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <div class="main">
    <div>
      <div class="d-inline-block">
        <h1 class="text-content-wrap">{{codeScheme.getDisplayName(languageService, false)}}</h1>
      </div>
      <div class="d-inline-block ml-5 align-top mt-2">
        <app-status class="float-left" [status]="codeScheme.status"></app-status>
      </div>
    </div>

    <div class="float-right">
      <div *ngIf="showMenu" ngbDropdown class="d-inline-block float-right ml-3" placement="bottom-right">
        <button class="btn btn-action" id="codeSchemeDropdown" ngbDropdownToggle translate>Choose action</button>
        <div ngbDropdownMenu aria-labelledby="codeSchemeDropdown">
          <button id="create_code_button"
                  *ngIf="canAddCode"
                  type="button"
                  class="dropdown-item"
                  (click)="createCode()"
                  translate>Create code</button>
          <button id="import_codes_button"
                  *ngIf="canAddCode"
                  type="button"
                  class="dropdown-item"
                  (click)="importCodes()"
                  translate>Import codes</button>
          <button id="clone_codelist_button"
                  *ngIf="canCreateANewVersionFromCodeScheme"
                  type="button"
                  class="dropdown-item"
                  (click)="createANewVersionFromThisCodeScheme()"
                  translate>Create a new version</button>
          <button id="clone_codelist_from_file_button"
                  *ngIf="canCreateANewVersionFromCodeScheme"
                  type="button"
                  class="dropdown-item"
                  (click)="createANewVersionOfThisCodeSchemeFromFile()"
                  translate>Create a new version from file</button>
          <button id="attach_variant_button"
                  *ngIf="canAttachOrDetachAVariant"
                  type="button"
                  class="dropdown-item"
                  (click)="openVariantSearchModal()"
                  translate>Attach variant to code list</button>
          <button id="create_extension_calculationhierarchy_button"
                  *ngIf="canAddExtension"
                  type="button"
                  class="dropdown-item"
                  (click)="createExtension('calculationHierarchy')"
                  translate>Create calculation hierarchy</button>
          <button id="create_extension_definitionhierarchy_button"
                  *ngIf="canAddExtension"
                  type="button"
                  class="dropdown-item"
                  (click)="createExtension('definitionHierarchy')"
                  translate>Create definition hierarchy</button>
          <button id="create_extension_cross-reference-list_button"
                  *ngIf="canAddExtension"
                  type="button"
                  class="dropdown-item"
                  (click)="createExtension('crossReferenceList')"
                  translate>Create cross-reference list</button>
          <button id="create_extension_dpmmetric_button"
                  *ngIf="canAddExtensionWithType('dpmMetric')"
                  type="button"
                  class="dropdown-item"
                  (click)="createExtension('dpmMetric')"
                  translate>Create DPM metric</button>
          <button id="create_extension_dpmexplicitdomain_button"
                  *ngIf="canAddExtensionWithType('dpmExplicitDomain')"
                  type="button"
                  class="dropdown-item"
                  (click)="createExtension('dpmExplicitDomain')"
                  translate>Create DPM explicit domain</button>
          <button id="create_extension_dpmdimension_button"
                  *ngIf="canAddExtensionWithType('dpmDimension')"
                  type="button"
                  class="dropdown-item"
                  (click)="createExtension('dpmDimension')"
                  translate>Create DPM dimension</button>
          <button id="create_extension_dpmdtypeddomain_button"
                  *ngIf="canAddExtensionWithType('dpmTypedDomain')"
                  type="button"
                  class="dropdown-item"
                  (click)="createExtension('dpmTypedDomain')"
                  translate>Create DPM typed domain</button>
          <button id="import_extensions_button"
                  *ngIf="canAddExtension"
                  type="button"
                  class="dropdown-item"
                  (click)="importExtensions()"
                  translate>Import extensions</button>
          <button id="delete_codelist_button"
                  *ngIf="canDeleteCodeScheme"
                  type="button"
                  class="dropdown-item"
                  (click)="delete()"
                  translate>Delete code list</button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block float-right ml-3" placement="bottom-right">
        <button class="btn btn-action" id="exportDropdown" ngbDropdownToggle translate>Export</button>
        <div ngbDropdownMenu aria-labelledby="exportDropdown">
          <a id="codelist_export_excel_link" href='{{codeScheme.url}}/?format=excel' target="_blank"
             class="dropdown-item" translate>Export Excel</a>
          <a id="codelist_export_csv_link" href='{{codeScheme.url}}/codes/?format=csv' target="_blank"
             class="dropdown-item" translate>Export CSV</a>
        </div>
      </div>

      <app-content-language [languageCodes]="contentLanguages"></app-content-language>
    </div>
  </div>

  <div class="row metabar">
    <div class="col-12">
      <div class="metaitem">
        <span translate>Registry</span><span>: </span>
        <span class="routedLink" (click)="navigateToRoute(codeScheme.codeRegistry.route)">{{codeScheme.codeRegistry.getDisplayName(languageService)}}</span>
      </div>
      <div class="metaitem" *ngIf="codeScheme.infoDomains.length > 0">
        <span translate>InfoDomain</span><span>: </span>
        <span class="badge badge-light" *ngFor="let infoDomain of codeScheme.infoDomains">{{infoDomain.prefLabel | translateValue:true}}</span>
      </div>
      <div class="metaitem" *ngIf="codeScheme.organizations.length > 0">
        <span translate>Organization</span><span>: </span>
        <span *ngFor="let organization of codeScheme.organizations; let last = last">{{organization.prefLabel | translateValue:true}}{{last ? '' : ' · '}}</span>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="codeScheme.description | translateValue">
    <div class="col-12">
      <div class="content-description-container" [ngClass]="{'expand': showFullDescription}">
        <span class="description">{{codeScheme.description | translateValue: false}}</span>
        <div class="limiter-container">
          <div class="description-limiter" (click)="toggleFullDescription()"></div>
        </div>
      </div>
    </div>
  </div>

  <ngb-tabset #tabSet="ngbTabset" (tabChange)="onTabChange($event)">
    <ngb-tab id="codelist_codes_tabs">
      <ng-template ngbTabTitle>
        <span translate>CODES</span>
      </ng-template>

      <ng-template ngbTabContent>
        <app-code-scheme-codes [codes]="codes" [codeScheme]="codeScheme"></app-code-scheme-codes>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="codelist_info_tab">
      <ng-template ngbTabTitle>
        <span translate>INFORMATION</span>
      </ng-template>

      <ng-template ngbTabContent>
        <app-code-scheme-information [codeScheme]="codeScheme"
                                     (change)="changeLanguages($event)"></app-code-scheme-information>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="showUnfinishedFeature && extensions.length > 0" id="codelist_extensions_tab">
      <ng-template ngbTabTitle>
        <span translate>EXTENSIONS</span>
      </ng-template>

      <ng-template ngbTabContent>
        <app-code-scheme-extensions [codeScheme]="codeScheme"
                                    [extensions]="extensions"></app-code-scheme-extensions>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="codeScheme.allVersions.length > 0" id="codelist_versionhistory_tab">
      <ng-template ngbTabTitle>
        <span translate>versionHistory</span>
      </ng-template>

      <ng-template ngbTabContent>
        <app-code-scheme-versions [codeScheme]="codeScheme"></app-code-scheme-versions>
      </ng-template>
    </ngb-tab>

    <ngb-tab
      *ngIf="codeScheme.variantsOfThisCodeScheme.length > 0 || codeScheme.variantMothersOfThisCodeScheme.length > 0"
      id="codelist_variants_tab">
      <ng-template ngbTabTitle>
        <span translate>variants</span>
      </ng-template>

      <ng-template ngbTabContent>
        <dt><label *ngIf="codeScheme.variantsOfThisCodeScheme.length > 0" translate>Variants of this code list</label></dt>
        <app-code-scheme-variants (detachVariantRequest)="reloadCodeScheme()"
                                  [codeScheme]="codeScheme"></app-code-scheme-variants>
        <dt><label *ngIf="codeScheme.variantMothersOfThisCodeScheme.length > 0" translate>Variant in other code lists</label>
        </dt>
        <app-code-scheme-variant-mothers [codeScheme]="codeScheme"></app-code-scheme-variant-mothers>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
