<div class="content-box">
  <app-back-button (back)="back()"></app-back-button>

  <h1 translate>Import codescheme</h1>
  <p translate>Import codescheme by uploading a CSV- or Excel formatted file. Look up more detailed guide and information about using codescheme-files from service help.</p>
  <p translate>Using the imported file, a new codescheme is created or an older codescheme is update with new meta-information. Upon uploading the file, you get to review and cancel the changes if needed.</p>
  <button type="button" class="btn btn-action" (click)="importFromFile()" translate>Import codescheme from a file</button>
  <br/><br/>
  <p translate>You can also add a new codescheme by creating it via the user interface of the Code List Service.</p>
  <button type="button" class="btn btn-action" (click)="createNewCodeScheme()">Create new codescheme</button>
  <br/><br/>
</div>
