<div class="container-fluid py-5 px-4 content-area">
  <div class="container-fluid py-4 px-4 content-box">
    <div class="row">
      <p>
        <button type="button" class="backbutton" (click)="back()">←</button>
      </p>
    </div>

    <div class="row">
      <h1 *ngIf='codeScheme != null'>{{codeScheme.prefLabels.fi}}</h1>
    </div>

    <div class="row">
      <div class="col-md-10 px-0">
        <span *ngIf='codeScheme != null' class="status bold alignLeft" translate>{{codeScheme.status}}</span>
      </div>
      <div class="col-md-2 px-0">
        <a href='{{codeScheme.uri}}codes/?format=csv' target="_blank" *ngIf='codeScheme != null' class="actionbutton" translate>Export</a>
      </div>
    </div>

    <div class="row">
      <p class="description semibold" *ngIf='codeScheme != null'>{{codeScheme.descriptions.fi}}</p>
    </div>

    <div class="row">
      <span *ngIf='codeScheme != null' class="tabNavi bold" translate>CODES</span>
    </div>

    <div class="row">
      <div class="table-responsive" *ngIf='codes != null'>
        <table class="table" *ngFor="let code of codes">
          <tr>
            <td><button class="btn btn-link code semibold" (click)="viewCode(code)">{{code.codeValue}} - {{code.prefLabels.fi}}</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
