<table *ngIf="codeScheme.variantsOfThisCodeScheme.length > 0" class="table table-sm">
  <thead class="thead-light">
  <tr>
    <th scope="col" translate>Validity</th>
    <th scope="col" translate>Name</th>
    <th scope="col" translate>Status</th>
    <th scope="col" translate>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let variant of codeScheme.variantsOfThisCodeScheme">
    <td scope="row">{{variant.validityDateRange}}</td>
    <td><a href="{{variant.uri}}" target="_blank">{{variant.prefLabel | translateValue:true }}</a></td>
    <td><app-status class="float-left" [status]="variant.status"></app-status></td>

    <td *ngIf="canAttachOrDetachAVariant()">
      <a>
        <i [id]="'detach_variant_' + variant.id + '_link'"
           class="fa fa-times"
           (click)="detachAVariant(variant)"></i>
      </a>
    </td>
    <td *ngIf="!canAttachOrDetachAVariant()">
      &nbsp;
    </td>
  </tr>
  </tbody>
</table>
