<form [formGroup]="codeSchemeForm" #form="ngForm">

  <div class="row">
    <div class="col-10">
      <app-literal [label]="'Code list ID' | translate"
                   [value]="codeScheme.codeValue"
                   [infoText]="'INFO_TEXT_CODELIST_CODE_VALUE'"></app-literal>

      <app-localizable-input [id]="'codelist_name_input'"
                             [label]="'Code list name' | translate"
                             [infoText]="'INFO_TEXT_CODELIST_NAME'"
                             [formControlName]="'prefLabel'"></app-localizable-input>

      <dl *ngIf="editing">
        <dd>
          <div>
            <button id="open_terminology_modal_button"
                    type="button"
                    class="btn btn-sm btn-action mt-2"
                    *ngIf="editing"
                    (click)="openTerminologyModal()" translate>Get concept from Terminologies</button>
          </div>
        </dd>
      </dl>

      <div *ngIf="!editing && codeScheme.conceptUriInVocabularies && codeScheme.conceptUriInVocabularies.length > 0">
        <app-inline-clipboard [label]="'Vocabularies URI' | translate"
                       [showAsLink]="true"
                       [value]="getConceptUri()"
                       [infoText]="'INFO_TEXT_VOCABULARIES_URI'"></app-inline-clipboard>
      </div>
      <div *ngIf="editing && codeScheme.conceptUriInVocabularies && codeScheme.conceptUriInVocabularies.length > 0">
        <dl>
          <dt>
            <label>{{'Vocabularies URI' | translate}}</label>
            <app-information-symbol [infoText]="'INFO_TEXT_VOCABULARIES_URI'"></app-information-symbol>
          </dt>
          <dd>
            <a>
              <i [id]="'remove_concept_uri_in_vocabularies_link'"
                 class="fa fa-times"
                 (click)="removeConceptUriInVocabularies()"></i>
            </a>
            {{getConceptUri()}}
          </dd>
        </dl>
      </div>

      <app-literal *ngIf="codeScheme.codeRegistry"
                   [label]="'Registry' | translate"
                   [value]="codeScheme.codeRegistry.prefLabel | translateValue"
                   [infoText]="'INFO_TEXT_CODE_REGISTRY'"></app-literal>

      <app-organizations-input id="registry_organizations_input"
                               [label]="'Organization' | translate"
                               [required]="true"
                               [infoText]="'INFO_TEXT_CODELIST_ORGANIZATION'"
                               [formControlName]="'organizations'"></app-organizations-input>

      <app-literal *ngIf="!editing"
                   [label]="'Cumulative code list' | translate"
                   [infoText]="'INFO_TEXT_CUMULATIVE_CODELIST_UPDATE_PAGE'"
                   [value]="codeScheme.cumulative + 'cumulative' | translate"></app-literal>

      <div style="line-height: 25px">
      <dl *ngIf="((!previousCodeScheme && !codeScheme.cumulative) ||
                                (previousCodeScheme && !previousCodeScheme.cumulative && !codeScheme.cumulative))
                                  && editing">
        <dt>
          <label for="mark_codelist_cumulative_checkbox" translate>Cumulative code list</label>
          <app-information-symbol [infoText]="'INFO_TEXT_CUMULATIVE_CODELIST_UPDATE_PAGE'"></app-information-symbol>
        </dt>
          <dd>
            <input id="mark_codelist_cumulative_checkbox" type="checkbox" (click)="toggleMarkCodelistAsCumulative()" />&nbsp;<label style="vertical-align:2px" translate>Cumulative code list</label>
          </dd>
      </dl>
      </div>

      <app-infodomains-input id="data_infodomains_input"
                                 [label]="'InfoDomain' | translate"
                                 [required]="true"
                                 [formControlName]="'infoDomains'"></app-infodomains-input>

      <app-languagecodes-input [id]="'codelist_languagecode_input'"
                               [label]="'Language code' | translate"
                               [required]="true"
                               [formControlName]="'languageCodes'"></app-languagecodes-input>

      <app-code-input id="default_code_input"
                      [label]="'Default code' | translate"
                      [codeSchemes]="[this.codeScheme]"
                      [showDetailLabel]="false"
                      [infoText]="'INFO_TEXT_DEFAULT_CODE'"
                      [formControlName]="'defaultCode'"></app-code-input>

      <app-status-input id="codelist_status_input"
                        [formControlName]="'status'"
                        [restrict]="restricted"
                        [infoText]="'INFO_TEXT_CODELIST_STATUS'"></app-status-input>

      <app-localizable-textarea [id]="'codelist_description_textarea'"
                                [label]="'Description' | translate"
                                [infoText]="'INFO_TEXT_CODELIST_DESCRIPTION'"
                                [formControlName]="'description'"></app-localizable-textarea>

      <app-localizable-textarea [id]="'codelist_definition_textarea'"
                                [label]="'Definition' | translate"
                                [infoText]="'INFO_TEXT_CODELIST_DEFINITION'"
                                [formControlName]="'definition'"></app-localizable-textarea>

      <app-localizable-textarea [id]="'codelist_changenote_textarea'"
                                [label]="'Change note' | translate"
                                [infoText]="'INFO_TEXT_CODELIST_CHANGE_NOTE'"
                                [formControlName]="'changeNote'"></app-localizable-textarea>

      <app-literal-input [id]="'codelist_version_input'"
                         [label]="'Version' | translate"
                         [formControlName]="'version'"
                         [restrict]="restricted"
                         [infoText]="'INFO_TEXT_CODELIST_VERSION'"></app-literal-input>

      <app-literal-input [id]="'codelist_source_input'"
                         [label]="'Source' | translate"
                         [formControlName]="'source'"
                         [restrict]="restricted"
                         [infoText]="'INFO_TEXT_CODELIST_SOURCE'"></app-literal-input>

      <app-literal-input [id]="'codelist_legal_base_input'"
                         [label]="'Legal base' | translate"
                         [formControlName]="'legalBase'"
                         [restrict]="restricted"
                         [infoText]="'INFO_TEXT_CODELIST_LEGAL_BASE'"></app-literal-input>

      <app-literal-input [id]="'codelist_governance_policy_textarea'"
                         [label]="'Governance policy' | translate"
                         [formControlName]="'governancePolicy'"
                         [restrict]="restricted"
                         [infoText]="'INFO_TEXT_CODELIST_GOVERNANCE_POLICY'"></app-literal-input>

      <app-date-range-input id="codelist_validity_input"
                            [label]="'Validity' | translate"
                            [infoText]="'INFO_TEXT_CODELIST_VALIDITY'"
                            [formControlName]="'validity'"></app-date-range-input>

      <app-inline-clipboard [label]="'URI' | translate"
                     [value]="getCodeSchemeUri()"
                     [showAsLink]="false"
                     [infoText]="'INFO_TEXT_URI'"></app-inline-clipboard>

      <app-literal [label]="'Last modification' | translate"
                   [value]="codeScheme.modifiedDisplayValue"
                   [infoText]="'INFO_TEXT_CODELIST_LAST_MODIFICATION'"></app-literal>

      <app-external-references-input id="codelist_links_input"
                                     [label]="'Links' | translate"
                                     [codeScheme]="codeScheme"
                                     [languageCodes]="codeSchemeForm.controls['languageCodes'].value"
                                     [infoText]="'INFO_TEXT_EXTERNAL_REFERENCES'"
                                     [formControlName]="'externalReferences'"></app-external-references-input>
    </div>
    <div class="col-2">
      <app-editable-buttons [form]="form"
                            [entity]="codeScheme"></app-editable-buttons>
    </div>
  </div>

</form>
