<div *ngIf="loading">
  Loading...
  <!--TODO ajax indicator-->
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button (back)="back()"></app-back-button>

  <h1>{{codeScheme.prefLabels[modifyLanguage]}}</h1>

  <app-status class="pull-left" [status]="codeScheme.status"></app-status>

  <div ngbDropdown class="d-inline-block pull-right ml-3" placement="bottom-right">
    <button class="btn btn-action" id="exportDropdown" ngbDropdownToggle translate>Export</button>
    <div ngbDropdownMenu aria-labelledby="exportDropdown">
      <a href='{{codeScheme.uri}}codes/?format=csv' target="_blank" class="dropdown-item" translate>Export CSV</a>
      <a href='{{codeScheme.uri}}codes/?format=excel' target="_blank" class="dropdown-item" translate>Export Excel</a>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block pull-right">
    <button class="btn btn-language" id="modifyLanguageDropdown" ngbDropdownToggle>{{modifyLanguage.toUpperCase()}}</button>
    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="modifyLanguageDropdown">
      <div *ngFor="let language of languages">
        <button class='dropdown-item' [ngClass]="{'active': language.code === modifyLanguage}" type="button" (click)='setModifyLanguage(language.code)'>{{language.name}}</button>
      </div>
    </div>
  </div>

  <p *ngIf='codeScheme.descriptions != null' class="description">{{codeScheme.descriptions[modifyLanguage]}}</p>

  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <span translate>CODES</span>
      </ng-template>

      <ng-template ngbTabContent>
        <div class="codes">
          <div class="code" *ngFor="let code of codes" (click)="viewCode(code)">
            {{code.codeValue}} - {{code.prefLabels[modifyLanguage]}}
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>
        <span translate>INFORMATION</span>
      </ng-template>

      <ng-template ngbTabContent>
        <button *ngIf='!modifyEnabled' type="button" class="btn btn-action pull-right ml-3" (click)="modify()" translate>Modify</button>
        <button *ngIf='modifyEnabled' type="button" class="btn btn-action pull-right ml-3" disabled (click)="save()" [disabled]='storing' translate>Save</button>
        <button *ngIf='modifyEnabled' type="button" class="btn btn-link pull-right" (click)="cancel()" translate>Cancel</button>

        <div class="form-group">
          <label translate>Code value</label><br/>
          <span>{{codeScheme.codeValue}}</span>
        </div>

        <div class="form-group">
          <label for="prefLabel" translate>Code name</label>
          <input type="text" class="form-control" id="prefLabel" [disabled]='!modifyEnabled' [(ngModel)]="codeScheme.prefLabels[modifyLanguage]">
        </div>

        <div class="form-group">
          <label for="description" translate>Description</label>
          <textarea type="text" rows="3" class="form-control" id="description" [disabled]='!modifyEnabled' [(ngModel)]="codeScheme.descriptions[modifyLanguage]"></textarea>
        </div>

        <div class="form-group">
          <label for="definition" translate>Definition</label>
          <textarea type="text" rows="3" class="form-control" id="definition" [disabled]='!modifyEnabled' [(ngModel)]="codeScheme.definitions[modifyLanguage]"></textarea>
        </div>

        <div class="form-group">
          <label for="source" translate>Source</label>
          <input type="text" class="form-control" id="source" [disabled]='!modifyEnabled' [(ngModel)]="codeScheme.source">
        </div>

        <div class="form-group">
          <label for="legalBase" translate>Legal base</label>
          <input type="text" class="form-control" id="legalBase" [disabled]='!modifyEnabled' [(ngModel)]="codeScheme.legalBase">
        </div>

        <div class="form-group">
          <label for="governancePolicy" translate>Governance policy</label>
          <input type="text" class="form-control" id="governancePolicy" [disabled]='!modifyEnabled' [(ngModel)]="codeScheme.governancePolicy">
        </div>

        <div class="form-group">
          <label for="license" translate>License</label>
          <input type="text" class="form-control" id="license" [disabled]='!modifyEnabled' [(ngModel)]="codeScheme.license">
        </div>

        <div class="form-group">
          <label for="validity" translate>Validity</label><br/>
          <span id="validity">{{codeScheme.startDate | date:'d.M.y'}} - {{codeScheme.endDate | date:'d.M.y'}}</span>
        </div>

        <div class="form-group">
          <label for="lastModification" translate>Last modification</label><br/>
          <span id="lastModification">{{codeScheme.modified | date:'d.M.y klo hh:mm'}}</span>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
