<dl *ngIf="canAttachAVariant()">
  <dd>
    <div>
      <button id="open_variants_modal_button"
              type="button"
              class="btn btn-sm btn-action mt-2"
              (click)="openVariantSearchModal()" translate>attachVariantToCodeScheme
      </button>
    </div>
  </dd>
</dl>

<table *ngIf="codeScheme.variantsOfThisCodeScheme.length > 0" class="table table-sm">
  <thead class="thead-light">
  <tr>
    <th scope="col" translate>Validity</th>
    <th scope="col" translate>Name</th>
    <th scope="col" translate>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let variant of codeScheme.variantsOfThisCodeScheme">
    <td scope="row">{{variant.validityDateRange}}</td>
    <td><a href="{{variant.uri}}" target="_blank">{{variant.prefLabel | translateValue:true }}</a></td>
    <td><app-status class="pull-left" [status]="variant.status"></app-status></td>
  </tr>
  </tbody>
</table>
