@import '~yti-common-ui/theme/variables';

:host /deep/ .codes {

  color: $primary;
  font-size: large;
  min-height: 200px;

  .code {
    cursor: pointer;
    margin-right: 200px;
    padding: 10px 40px 10px 10px;
    background-color: $light;
    margin-top: 5px;
    display: inline-block;
  }

  ul {
    padding-left: 15px;

    li {
      list-style: none;
      
      i {
        cursor: pointer;
        margin-left: -15px;
        font-size: 14px;
      }
    }

    li.child-code {
      padding-left: 15px;
    }
  }
}

.emptyCodes {
  margin-right: 200px;
  padding: 10px 40px;
  margin-top: 5px;
}
