<form [formGroup]="codeSchemeForm" #form="ngForm">

  <app-editable-buttons [form]="form"
                        [entity]="codeScheme"></app-editable-buttons>

  <app-literal [label]="'Code value' | translate"
               [value]="codeScheme.codeValue"></app-literal>

  <app-localizable-input [label]="'Codescheme name' | translate"
                         [formControlName]="'prefLabel'"></app-localizable-input>

  <dl *ngIf="codeScheme.codeRegistry">
    <dt>
      <label translate>Coderegistry</label>
    </dt>
    <dd>
      <span>{{codeScheme.codeRegistry.prefLabel | translateValue}}</span><br/>
    </dd>
  </dl>

  <dl *ngIf="codeScheme.dataClassifications.length > 0 && !editing">
    <dt>
      <label translate>Classification</label>
    </dt>
    <dd>
      <div *ngFor="let dataClassification of codeScheme.dataClassifications">
        <span>{{dataClassification.prefLabel | translateValue}}</span><br/>
      </div>
    </dd>
  </dl>

  <dl *ngIf="editing">
    <dt>
      <label translate>Classification</label>
    </dt>

    <dd>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-dropdown" id="classification-dropdown" ngbDropdownToggle>
          <span *ngIf="!codeScheme.dataClassifications || codeScheme.dataClassifications.length === 0" translate>No classification</span>
          <span *ngIf="codeScheme.dataClassifications !== undefined && codeScheme.dataClassifications[0] !== undefined">{{codeScheme.dataClassifications[0].prefLabel | translateValue:true}}</span>
        </button>

        <div ngbDropdownMenu aria-labelledby="classification-dropdown">
          <button *ngFor="let dataClassification of dataClassifications"
                  (click)="setDataClassification(dataClassification)"
                  class="dropdown-item"
                  [class.active]="codeScheme.dataClassifications !== undefined && codeScheme.dataClassifications.length > 0 && codeScheme.dataClassifications[0] == dataClassification">
            {{dataClassification.prefLabel | translateValue:true}}
          </button>
        </div>
      </div>
    </dd>
  </dl>

  <dl *ngIf="codeScheme.codeRegistry.organizations.length > 0">
    <dt>
      <label translate>Organization</label>
    </dt>
    <dd>
      <div *ngFor="let organization of codeScheme.codeRegistry.organizations">
        <span>{{organization.prefLabel | translateValue}}</span><br/>
      </div>
    </dd>
  </dl>

  <app-localizable-textarea [label]="'Description' | translate"
                            [formControlName]="'description'"></app-localizable-textarea>

  <app-localizable-textarea [label]="'Definition' | translate"
                            [formControlName]="'definition'"></app-localizable-textarea>

  <app-literal-input [label]="'Source' | translate"
                     [formControlName]="'source'"></app-literal-input>

  <app-literal-input [label]="'Legal base' | translate"
                     [formControlName]="'legalBase'"></app-literal-input>

  <app-literal-input [label]="'Governance policy' | translate"
                     [formControlName]="'governancePolicy'"></app-literal-input>

  <div *ngIf="!editing">
    <app-literal [label]="'Status' | translate"
                 [value]="codeScheme.status | translate"></app-literal>
  </div>
  <div *ngIf="editing">
    <dl>
      <dt>
        <label translate>Status</label>
      </dt>
      <dd>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dropdown" id="status-dropdown" ngbDropdownToggle>
            <span *ngIf="!codeScheme.status" translate>DRAFT</span>
            <span *ngIf="codeScheme.status">{{codeScheme.status | translate}}</span>
          </button>

          <div ngbDropdownMenu aria-labelledby="status-dropdown">
            <button *ngFor="let status of statuses"
                    (click)="codeScheme.status = status"
                    class="dropdown-item"
                    [class.active]="codeScheme.status == status">
              {{status | translate}}
            </button>
          </div>
        </div>
      </dd>
    </dl>
  </div>

  <div *ngIf="!editing">
    <app-literal [label]="'Validity' | translate"
                 [value]="codeScheme.validity"></app-literal>
  </div>

  <div *ngIf="editing">
    <dl>
      <dt>
        <label translate>Start date</label>
      </dt>
      <dd>
        <div class="input-group">
          <input class="form-control"
                 placeholder="yyyy-mm-dd"
                 [formControlName]="'startDate'"
                 ngbDatepicker
                 #startDate="ngbDatepicker">
          <button class="input-group-addon icon-calendar" (click)="startDate.toggle()" type="button"></button>
          <app-error-messages [control]="form.form.get('startDate')"></app-error-messages>
        </div>
      </dd>
    </dl>
    <dl>
      <dt>
        <label translate>End date</label>
      </dt>
      <dd>
        <div class="input-group">
          <input class="form-control"
                 placeholder="yyyy-mm-dd"
                 [formControlName]="'endDate'"
                 ngbDatepicker
                 #endDate="ngbDatepicker">
          <button class="input-group-addon icon-calendar" (click)="endDate.toggle()" type="button"></button>
          <app-error-messages [control]="form.form.get('endDate')"></app-error-messages>
        </div>
      </dd>
    </dl>
  </div>

  <app-literal [label]="'Last modification' | translate"
               [value]="codeScheme.modifiedDisplayValue"></app-literal>

  <dl *ngIf="editing || externalReferences.length > 0">
    <dt><label translate>Links</label></dt>
    <dd>
      <div *ngFor="let propertyType of getUsedPropertyTypes()">
        <div *ngIf="getExternalReferencesByLocalName(propertyType.localName).length > 0">
          <label>{{propertyType.prefLabel | translateValue}}</label>
          <div *ngFor="let externalReference of getExternalReferencesByLocalName(propertyType.localName)">
            <button type="button" class="btn btn-link link" (click)="showExternalReference(externalReference)">
              {{externalReference.title | translateValue}}
            </button>
            <button *ngIf="editing && externalReference.global !== true" type="button" class="icon icon-pencil"
                    (click)="editExternalReference(externalReference)"></button>
            <button *ngIf="editing" type="button" class="icon icon-trash"
                    (click)="removeExternalReference(externalReference)"></button>
          </div>
        </div>
      </div>

      <div *ngIf="editing">
        <button class="btn btn-action" (click)="addLink()" translate>Add link</button>
      </div>
    </dd>
  </dl>
</form>
