@import '~yti-common-ui/theme/variables';

:host /deep/ .extensions {

  color: $primary;
  font-size: large;
  min-height: 200px;

  .icon {
    width: 20px;
  }

  .extension {
    cursor: pointer;
    padding: 10px 40px 10px 10px;
    background-color: $light;
    margin-top: 8px;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }

  ul {
    padding-left: 15px;

    li {
      list-style: none;

      i {
        cursor: pointer;
        margin-left: -15px;
        font-size: 14px;
      }
    }
  }

  .nav-link {
    font-size: medium;
  }

  .exttabs {
    margin-top: -60px;
  }
}
