<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button (back)="back()"></app-back-button>

  <div class="row">
    <div class="col-12">
      <h1 class="pull-left" translate>Create code list</h1>
      <app-content-language></app-content-language>
    </div>
  </div>

  <form [formGroup]="codeSchemeForm" #form="ngForm">

    <app-editable-buttons [form]="form"></app-editable-buttons>

    <!-- TODO fetch or filter coderegistries only for this user -->
    <dl>
      <dt>
        <label translate>Coderegistry</label>
      </dt>
      <dd>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dropdown" id="reg-dropdown" ngbDropdownToggle>
            <span *ngIf="!codeRegistry" translate>No registry</span>
            <span *ngIf="codeRegistry">{{codeRegistry.prefLabel | translateValue:true}}</span>
          </button>

          <div ngbDropdownMenu aria-labelledby="reg-dropdown">
            <button *ngFor="let cr of codeRegistries"
                    (click)="codeRegistry = cr"
                    class="dropdown-item"
                    [class.active]="codeRegistry == cr">
              {{cr.prefLabel | translateValue:true}}
            </button>
          </div>
          <app-error-messages [control]="form.form.get('codeRegistry')"></app-error-messages>
        </div>
      </dd>
    </dl>

    <app-literal-input [label]="'Code list value' | translate"
                       [formControlName]="'codeValue'"></app-literal-input>

    <app-localizable-input [label]="'Code list name' | translate"
                           [formControlName]="'prefLabel'"></app-localizable-input>

    <app-classifications-input [label]="'Classification' | translate"
                               [formControlName]="'dataClassifications'"></app-classifications-input>

    <app-localizable-textarea [label]="'Description' | translate"
                              [formControlName]="'description'"></app-localizable-textarea>

    <app-localizable-textarea [label]="'Definition' | translate"
                              [formControlName]="'definition'"></app-localizable-textarea>

    <app-literal-input [label]="'Source' | translate"
                       [formControlName]="'source'"></app-literal-input>

    <app-literal-input [label]="'Legal base' | translate"
                       [formControlName]="'legalBase'"></app-literal-input>

    <app-literal-input [label]="'Governance policy' | translate"
                       [formControlName]="'governancePolicy'"></app-literal-input>

    <app-status-input [formControlName]="'status'"></app-status-input>

    <app-date-input [label]="'Start date' | translate"
                    [formControlName]="'startDate'"></app-date-input>

    <app-date-input [label]="'End date' | translate"
                    [formControlName]="'endDate'"></app-date-input>
  </form>
</div>
