<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button [id]="'codelist_back_button'" (back)="back()"></app-back-button>

  <h1 class="text-content-wrap">{{codeScheme.getDisplayName(languageService, false)}}</h1>

  <div class="row">
    <div class="col-12">
      <app-status class="pull-left" [status]="codeScheme.status"></app-status>

      <div class="pull-right">

        <button id="attach_variant_button"
                *ngIf="showUnfinishedFeature && canAttachOrDetachAVariant()" type="button"
                class="btn btn-action pull-right ml-3"
                (click)="openVariantSearchModal()"
                translate>attachVariantToCodeScheme</button>

        <button id="clone_codelist_button"
                *ngIf="showUnfinishedFeature && canCreateANewVersionFromCodeScheme" type="button"
                class="btn btn-action pull-right ml-3"
                (click)="createANewVersionFromThisCodeScheme()"
                translate>createNewVersion</button>

        <button id="delete_codelist_button"
                *ngIf='canDeleteCodeScheme()' type="button"
                class="btn btn-action pull-right ml-3"
                (click)="delete()"
                translate>Delete</button>

        <div ngbDropdown class="d-inline-block pull-right ml-3" placement="bottom-right">
          <button class="btn btn-action" id="exportDropdown" ngbDropdownToggle translate>Export</button>
          <div ngbDropdownMenu aria-labelledby="exportDropdown">
            <a id="codelist_export_excel_link" href='{{codeScheme.url}}/?format=excel' target="_blank" class="dropdown-item" translate>Export Excel</a>
            <a id="codelist_export_csv_link" href='{{codeScheme.url}}/codes/?format=csv' target="_blank" class="dropdown-item" translate>Export CSV</a>
          </div>
        </div>

        <div *ngIf="showUnfinishedFeature && this.canAddExtensionScheme" ngbDropdown class="d-inline-block pull-right ml-3" placement="bottom-right">
          <button class="btn btn-action" id="extensionSchemeDropdown" ngbDropdownToggle translate>Extension schemes</button>
          <div ngbDropdownMenu aria-labelledby="extensionSchemeDropdown">
            <button id="create_extensionscheme_button"
                    type="button"
                    class="dropdown-item"
                    (click)="createExtensionScheme()"
                    translate>Create extension scheme</button>
            <button id="import_extensionschemes_button"
                    type="button"
                    class="dropdown-item"
                    (click)="importExtensionSchemes()"
                    translate>Import extension schemes</button>
          </div>
        </div>
        <app-content-language></app-content-language>
      </div>
    </div>
  </div>

  <div class="row metabar">
    <div class="col-12">
      <div class="metaitem">
        <span translate>Registry</span><span>: </span><span class="routedLink" (click)="navigateToRoute(codeScheme.codeRegistry.route)">{{codeScheme.codeRegistry.getDisplayName(languageService)}}</span>
      </div>
      <div class="metaitem" *ngIf="codeScheme.dataClassifications.length > 0">
        <span translate>Classification</span><span>: </span>
        <span *ngFor="let dataClassification of codeScheme.dataClassifications; let last = last">{{dataClassification.prefLabel | translateValue:false}}{{last ? '' : ', '}}</span>
      </div>
      <div class="metaitem" *ngIf="codeScheme.codeRegistry.organizations.length > 0">
        <span translate>Organization</span><span>: </span>
        <span *ngFor="let organization of codeScheme.codeRegistry.organizations; let last = last">{{organization.prefLabel | translateValue:false}}{{last ? '' : ', '}}</span>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="codeScheme.description | translateValue">
    <div class="col-12">
      <p class="description text-content-wrap">{{codeScheme.description | translateValue}}</p>
    </div>
  </div>

  <ngb-tabset #tabSet="ngbTabset" (tabChange)="onTabChange($event)">
    <ngb-tab id="codelist_codes_tabs">
      <ng-template ngbTabTitle>
        <span translate>CODES</span>
      </ng-template>

      <ng-template ngbTabContent>
        <app-code-scheme-codes [codes]="codes" [codeScheme]="codeScheme"></app-code-scheme-codes>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="codelist_info_tab">
      <ng-template ngbTabTitle>
        <span translate>INFORMATION</span>
      </ng-template>

      <ng-template ngbTabContent>
        <app-code-scheme-information [codeScheme]="codeScheme"></app-code-scheme-information>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="showUnfinishedFeature && extensionSchemes.length > 0" id="codelist_extensionschemes_tab">
      <ng-template ngbTabTitle>
        <span translate>EXTENSION SCHEMES</span>
      </ng-template>

      <ng-template ngbTabContent>
        <app-code-scheme-extensionschemes [codeScheme]="codeScheme" [extensionSchemes]="extensionSchemes"></app-code-scheme-extensionschemes>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="showUnfinishedFeature && codeScheme.allVersions.length > 0" id="codelist_versionhistory_tab">
      <ng-template ngbTabTitle>
        <span translate>versionHistory</span>
      </ng-template>

      <ng-template ngbTabContent>
        <app-code-scheme-versions [codeScheme]="codeScheme"></app-code-scheme-versions>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="showUnfinishedFeature && (codeScheme.variantsOfThisCodeScheme.length > 0 || codeScheme.variantMothersOfThisCodeScheme.length > 0)" id="codelist_variants_tab">
      <ng-template ngbTabTitle>
        <span translate>variants</span>
      </ng-template>

      <ng-template ngbTabContent>
        <dt><label *ngIf="codeScheme.variantsOfThisCodeScheme.length > 0">Koodiston variantit</label></dt>
        <app-code-scheme-variants (detachVariantRequest)="reloadCodeScheme()" [codeScheme]="codeScheme" [codeRegistries]="codeRegistries"></app-code-scheme-variants>
        <dt><label *ngIf="codeScheme.variantMothersOfThisCodeScheme.length > 0">Varianttina muissa koodistoissa</label></dt>
        <app-code-scheme-variant-mothers [codeScheme]="codeScheme"></app-code-scheme-variant-mothers>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
