<div class="extensions row">

  <ngb-tabset #secondaryTabSet="ngbTabset" class="col-md-12 exttabs">

    <ngb-tab *ngFor="let propertyExtensions of extensionsByType"
             id="codelist_extension_{{ propertyExtensions.localNameForId }}_tab">
      <ng-template ngbTabTitle>
        <span>{{propertyExtensions.label}}</span>
      </ng-template>

      <ng-template ngbTabContent>
        <div id="codelist_extension_list_div" class="col-md-12">
          <ul id="codelist_extension_regular">
            <li *ngFor="let extension of propertyExtensions.extensions">
              <div id="{{extension.codeValue}}_codelist_extension_listitem">
                <app-extension-listitem [extension]="extension"></app-extension-listitem>
              </div>
            </li>
          </ul>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="hasCodeExtensions"
             id="codelist_codeextensions_tab">
      <ng-template ngbTabTitle>
        <span translate>CODE EXTENSIONS</span>
      </ng-template>

      <ng-template ngbTabContent>
        <div id="codelist_codeextension_list_div" class="col-md-12">
          <ul id="codelist_codeextension_regular">
            <li *ngFor="let extension of codeExtensions">
              <div id="{{extension.codeValue}}_codelist_codeextension_listitem">
                <app-extension-listitem [extension]="extension"></app-extension-listitem>
              </div>
            </li>
          </ul>
        </div>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>

</div>
