<div class="modal-header">
  <h4 class="modal-title strong">
    <a><i class="fa fa-times" (click)="close()"></i></a>
    <span translate>Add new link</span>
  </h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">

      <app-content-language class="pull-right"></app-content-language>

      <form #form="ngForm">

        <app-localizable-input [label]="'Link title' | translate"
                               [name]="'title'"
                               [(ngModel)]="externalReference.title"></app-localizable-input>

        <app-localizable-textarea [label]="'Description' | translate"
                                  [name]="'description'"
                                  [(ngModel)]="externalReference.description"></app-localizable-textarea>

        <app-literal-input [label]="'URL' | translate"
                           [name]="'url'"
                           required
                           [(ngModel)]="externalReference.url"></app-literal-input>

        <app-property-type-select [name]="'propertyType'"
                                  [(ngModel)]="externalReference.propertyType"></app-property-type-select>

      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div>
    <button type="button" class="btn btn-action" [disabled]="!form.valid" (click)="add()" translate>Add</button>
    <button type="button" class="btn btn-link" (click)="close()" translate>Cancel</button>
  </div>
</div>
