<div class="modal-header">
  <h4 class="modal-title strong">
    <a><i id="close_modal_link" class="fa fa-times" (click)="close()"></i></a>
    <span translate>Edit link</span>
  </h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">

      <app-content-language class="pull-right"></app-content-language>

      <form [formGroup]="linkForm" #form="ngForm">

        <app-localizable-input [id]="'link_title_input'"
                               [label]="'Link title' | translate"
                               [formControlName]="'title'"></app-localizable-input>

        <app-localizable-textarea [id]="'link_description_textarea'"
                                  [label]="'Description' | translate"
                                  [formControlName]="'description'"></app-localizable-textarea>

        <app-literal-input [id]="'link_url_input'"
                           [label]="'URL' | translate"
                           [formControlName]="'href'"></app-literal-input>

        <app-property-type-select id="propertytype_select"
                                  [formControlName]="'propertyType'"></app-property-type-select>

      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div>
    <button id="save_button" type="button" class="btn btn-action" (click)="save()" [disabled]="!canSave()" translate>Save</button>
    <button id="cancel_modal_button" type="button" class="btn btn-link" (click)="close()" translate>Cancel</button>
  </div>
</div>
