<div class="modal-header">
  <h4 class="modal-title strong">
    <a><i class="fa fa-times" (click)="close()"></i></a>
    <span translate>Show link</span>
  </h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">

      <app-content-language class="pull-right"></app-content-language>

      <div *ngIf="CCBy40LicenseLink">
        <a rel="license" [href]="externalReference.url" target="_blank">
          <img class="ccby40" [title]="titleCCBy40" [src]="srcCCBy40" /></a>        
        <br />
        <br />
      </div>

      <div *ngIf="CC0LicenseLink">
          <a rel="license" [href]="externalReference.url" target="_blank">
            <img class="cc0" [src]="srcCC0" title="CC0" /></a>   
          <br />   
          <br />   
        <br />
      </div>
      
      <app-localizable-literal [label]="'Link title' | translate"
                               [value]="externalReference.title"></app-localizable-literal>

      <app-localizable-literal [label]="'Description' | translate"
                               [value]="externalReference.description"></app-localizable-literal>
      
      <dt><label translate>URL</label></dt>
      <dd>      
        <div class="text-content-wrap"><a [href]="externalReference.url" target="_blank">{{externalReference.url}}</a></div>
      </dd>
      
      <app-localizable-literal [label]="'Link type' | translate"
                               [value]="externalReference.propertyType.prefLabel"></app-localizable-literal>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div>
    <button type="button" class="btn btn-action" (click)="close()" translate>Ok</button>
  </div>
</div>
