.form-check-label, .form-check-input {
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
  display: inline;
}

.form-check-input {
  top: 2px;
}

.form-check-label {
  left: 5px;
}

.form-check-url {
  display: block;
  font-size: small;
}

.modal-header {
  flex-direction: column;

  .type-filter {
    vertical-align: middle;
    margin: 20px 0 0 0;
    span {
      float: none;
    }
  }
}

.modal-body {
  &.full-height {
    height: calc(100vh - 550px);
  }
}
