<div *ngIf="initializing">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!initializing">
  <div class="modal-header">
    <h4 class="modal-title strong">
      <a><i class="fa fa-times" (click)="close()"></i></a>
      <span translate>Add new link</span>
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <app-content-language class="pull-right"></app-content-language>
        <form [formGroup]="linkForm" #form="ngForm">
          <app-localizable-input [label]="'Link title' | translate"
                                 [formControlName]="'titles'"></app-localizable-input>

          <app-localizable-textarea [label]="'Description' | translate"
                                    [formControlName]="'descriptions'"></app-localizable-textarea>

          <app-literal-input [label]="'URL' | translate"
                             [formControlName]="'url'"></app-literal-input>

          <div ngbDropdown class="d-inline-block">
            <app-literal [label]="'Property type' | translate"></app-literal>
            <button class="btn btn-dropdown" id="propertyType-dropdown" ngbDropdownToggle>
              <span>{{this.propertyType.prefLabels | translateValue}}</span>
            </button>

            <div ngbDropdownMenu aria-labelledby="propertyType-dropdown">
              <button *ngFor="let propertyTypeOption of propertyTypes"
                      (click)="propertyType = propertyTypeOption"
                      class="dropdown-item"
                      [class.active]="propertyTypeOption == propertyType">
                {{propertyTypeOption.prefLabels | translateValue}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div>
      <button type="button" class="btn btn-action" (click)="add()" translate>Add</button>
      <button type="button" class="btn btn-link" (click)="close()" translate>Cancel</button>
    </div>
  </div>
</div>
