<div class="modal-header">
  <h4 class="modal-title strong">
    <a><i id="close_modal_link" class="fa fa-times" (click)="close()"></i></a>
    <span translate>Add new link</span>
  </h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">

      <app-content-language class="float-right"></app-content-language>

      <form #form="ngForm">

        <app-localizable-input [id]="'link_title_input'"
                               [label]="'Link title' | translate"
                               [name]="'title'"
                               [infoText]="'INFO_TEXT_LINK_TITLE'"
                               [(ngModel)]="externalReference.title"></app-localizable-input>

        <app-localizable-textarea [id]="'link_description_textarea'"
                                  [label]="'Description' | translate"
                                  [name]="'description'"
                                  [infoText]="'INFO_TEXT_LINK_DESCRIPTION'"
                                  [(ngModel)]="externalReference.description"></app-localizable-textarea>

        <app-literal-input [id]="'link_url_input'"
                           [label]="'URL' | translate"
                           [name]="'href'"
                           [required]="true"
                           required
                           [infoText]="'INFO_TEXT_LINK_URL'"         
                           [(ngModel)]="externalReference.href"></app-literal-input>

        <app-property-type-select id="propertytype_select"
                                  [name]="'propertyType'"
                                  [label]="'Link type' | translate"
                                  [context]="'ExternalReference'"
                                  [infoText]="'INFO_TEXT_LINK_TYPE'"
                                  [(ngModel)]="externalReference.propertyType"></app-property-type-select>

      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div>
    <button id="create_link_button" type="button" class="btn btn-action" [disabled]="!form.valid" (click)="add()" translate>Add</button>
    <button id="cancel_modal_button" type="button" class="btn btn-link" (click)="close()" translate>Cancel</button>
  </div>
</div>
