<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading">
  <form [formGroup]="extensionForm" #form="ngForm">

    <div class="row">
      <div class="col-12">
        <app-editable-buttons [form]="form"
                              [entity]="currentExtension"></app-editable-buttons>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10">
        <app-literal [label]="'Code list' | translate"
                     [value]="extensionScheme.parentCodeScheme.getDisplayName(languageService)"></app-literal>

        <app-literal [label]="'Extension' | translate"
                     [value]="extensionScheme.getDisplayName(languageService)"></app-literal>

        <app-localizable-input [id]="'extension_name_input'"
                               [label]="'Member name' | translate"
                               [formControlName]="'prefLabel'"></app-localizable-input>

        <app-literal-input *ngIf="requireExtensionValue"
                           [id]="'extension_extensionvalue_input'"
                           [label]="'Member value' | translate"
                           [required]="true"
                           [formControlName]="'extensionValue'"></app-literal-input>

        <app-code-input id="extension_code_input"
                        [label]="'Code' | translate"
                        [codeSchemes]="this.allCodeSchemes"
                        [required]="true"
                        [formControlName]="'code'"></app-code-input>

        <app-extension-input id="extension_extension_input"
                             [label]="'Member' | translate"
                             [extensionScheme]="currentExtension.extensionScheme"
                             [currentExtension]="currentExtension"
                             [formControlName]="'extension'"></app-extension-input>

        <app-date-range-input id="extensionscheme_validity_input"
                              [label]="'Validity' | translate"
                              [infoText]="'INFO_TEXT_EXTENSION_SCHEME_VALIDITY'"
                              [formControlName]="'validity'"></app-date-range-input>

        <app-literal [label]="'Last modification' | translate"
                     [value]="currentExtension.modifiedDisplayValue"></app-literal>
      </div>
    </div>

  </form>
</div>
