<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button [id]="'extension_create_back_button'" (back)="back()"></app-back-button>

  <div class="row">
    <div class="col-12">
      <h1 class="float-left" translate>Create member</h1>
      <app-content-language [languageCodes]="extensionScheme.parentCodeScheme.languageCodes"></app-content-language>
    </div>
  </div>

  <form [formGroup]="extensionForm" #form="ngForm">

    <div class="row">
      <div class="col-12">
        <app-editable-buttons [form]="form"
                              [entity]="extensionScheme"></app-editable-buttons>
      </div>
    </div>

    <div class="row metabar">
      <div class="col-12">
        <div class="metaitem">
          <span translate>Registry</span><span>: {{extensionScheme.parentCodeScheme.codeRegistry.getDisplayName(languageService)}}</span>
        </div>
        <div class="metaitem">
          <span translate>Code list</span><span>: {{extensionScheme.parentCodeScheme.getDisplayName(languageService)}}</span>
        </div>
        <div class="metaitem" *ngIf="extensionScheme.parentCodeScheme.organizations.length > 0">
          <span translate>Organization</span><span>: </span>
          <span *ngFor="let organization of extensionScheme.parentCodeScheme.organizations; let last = last">{{organization.prefLabel | translateValue:true}}{{last ? '' : ', '}}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10">
        <div class="form-group">
          <app-literal [label]="'Extension' | translate"
                       [value]="extensionScheme.getDisplayName(languageService)"></app-literal>

          <app-error-messages id="extension_form_error_messages" [control]="extensionForm"></app-error-messages>

          <app-localizable-input [id]="'extension_name_input'"
                                 [label]="'Member name' | translate"
                                 [formControlName]="'prefLabel'"></app-localizable-input>

          <app-literal-input *ngIf="requireExtensionValue"
                             [id]="'extension_extensionvalue_input'"
                             [label]="'Member value' | translate"
                             [required]="true"
                             [formControlName]="'extensionValue'"></app-literal-input>

          <app-code-input id="extension_code_input"
                          [label]="'Code' | translate"
                          [codeSchemes]="this.allCodeSchemes"
                          [required]="true"
                          [formControlName]="'code'"></app-code-input>

          <app-extension-input id="extension_extension_input"
                               [label]="'Member' | translate"
                               [extensionScheme]="extensionScheme"
                               [formControlName]="'extension'"></app-extension-input>

          <app-date-range-input id="extensionscheme_validity_input"
                                [label]="'Validity' | translate"
                                [infoText]="'INFO_TEXT_EXTENSION_SCHEME_VALIDITY'"
                                [formControlName]="'validity'"></app-date-range-input>
        </div>
      </div>
    </div>
  </form>
</div>
