<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button [id]="'extension_back_button'" (back)="back()"></app-back-button>

  <h1 class="text-content-wrap">{{extension.getDisplayName(languageService, translateService)}}</h1>

  <div class="row">
    <div class="col-12">
      <div class="float-right">
        <div *ngIf='showMenu' ngbDropdown class="d-inline-block float-right ml-3" placement="bottom-right">
          <button class="btn btn-action" id="memberDropdown" ngbDropdownToggle translate>Choose action</button>
          <div ngbDropdownMenu aria-labelledby="memberDropdown">
            <button id="extension_delete_button"
                    *ngIf='canDelete'
                    type="button"
                    class="btn btn-action float-right ml-3"
                    class="dropdown-item"
                    translate>Delete member</button>
          </div>
        </div>

        <app-content-language></app-content-language>
      </div>
    </div>
  </div>

  <div class="row metabar">
    <div class="col-12">
      <div class="metaitem">
        <span translate>Registry</span><span>: </span><span class="routedLink" (click)="navigateToRoute(extensionScheme.parentCodeScheme.codeRegistry.route)">{{extensionScheme.parentCodeScheme.codeRegistry.getDisplayName(languageService)}}</span>
      </div>
      <div class="metaitem">
        <span translate>Code list</span><span>: {{extensionScheme.parentCodeScheme.getDisplayName(languageService)}}</span>
      </div>
      <div class="metaitem">
        <span translate>Extension scheme</span><span>: {{extensionScheme.getDisplayName(languageService)}}</span>
      </div>
      <div class="metaitem" *ngIf="extensionScheme.parentCodeScheme.codeRegistry.organizations.length > 0">
        <span translate>Organization</span><span>: </span>
        <span *ngFor="let organization of extensionScheme.parentCodeScheme.codeRegistry.organizations; let last = last">{{organization.prefLabel | translateValue:true}}{{last ? '' : ', '}}</span>
      </div>
    </div>
  </div>

  <ngb-tabset #tabSet="ngbTabset" (tabChange)="onTabChange($event)">
    <ngb-tab id="extension_info_tab">
      <ng-template ngbTabTitle>
        <span translate>INFORMATION</span>
      </ng-template>

      <ng-template ngbTabContent>
        <app-extension-information [currentExtension]="extension"></app-extension-information>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
