<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button [id]="'extension_create_back_button'" (back)="back()"></app-back-button>

  <div class="row">
    <div class="col-12">
      <h1 class="pull-left" translate>Create extension</h1>
      <app-content-language></app-content-language>
    </div>
  </div>

  <form [formGroup]="extensionForm" #form="ngForm">

    <div class="row">
      <div class="col-12">
        <app-editable-buttons [form]="form"
                              [entity]="extensionScheme"></app-editable-buttons>
      </div>
    </div>

    <div class="row metabar">
      <div class="col-12">
        <div class="metaitem">
          <span translate>Coderegistry</span><span>: {{extensionScheme.parentCodeScheme.codeRegistry.getDisplayName(languageService)}}</span>
        </div>
        <div class="metaitem">
          <span translate>Code list</span><span>: {{extensionScheme.parentCodeScheme.getDisplayName(languageService)}}</span>
        </div>
        <div class="metaitem" *ngIf="extensionScheme.parentCodeScheme.codeRegistry.organizations.length > 0">
          <span translate>Organization</span><span>: </span>
          <span *ngFor="let organization of extensionScheme.parentCodeScheme.codeRegistry.organizations; let last = last">{{organization.prefLabel | translateValue:true}}{{last ? '' : ', '}}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10">
        <div class="form-group">
          <app-literal [label]="'Extension scheme' | translate"
                       [value]="extensionScheme.getDisplayName(languageService)"></app-literal>

          <app-error-messages id="extension_form_error_messages" [control]="extensionForm"></app-error-messages>

          <app-localizable-input [id]="'extension_name_input'"
                                 [label]="'Extension name' | translate"
                                 [formControlName]="'prefLabel'"></app-localizable-input>

          <app-literal-input [id]="'extension_extensionvalue_input'"
                             [label]="'Extension value' | translate"
                             [formControlName]="'extensionValue'"></app-literal-input>

          <app-code-input id="extension_code_input"
                          [label]="'Code' | translate"
                          [codeScheme]="extensionScheme.parentCodeScheme"
                          [formControlName]="'code'"></app-code-input>

          <app-extension-input id="extension_extension_input"
                               [label]="'Extension' | translate"
                               [extensionScheme]="extensionScheme"
                               [formControlName]="'extension'"></app-extension-input>
        </div>
      </div>
    </div>
  </form>
</div>
