<div class="extensions row">
  <div id="extension_members_div" class="col-md-12">
    <ul *ngIf="members.length <= 500" id="extension_members_regular">
      <li *ngFor="let member of listedMembers; trackBy: memberIdentity">
        <app-crossreferencelist-member [members]="members"
                              [member]="member"
                              [codeRegistryCodeValue]="extension.parentCodeScheme.codeRegistry.codeValue"
                              [codeSchemeCodeValue]="extension.parentCodeScheme.codeValue"
                              [extensionCodeValue]="extension.codeValue"
                              [ignoreHierarchy]="searchTermHasValue()"></app-crossreferencelist-member>
      </li>
    </ul>
    <ul *ngIf="members.length > 500" class="hugelist" id="extension_members_huge">
      <li *lazyFor="let member of listedMembers, withHeight 65">
        <app-crossreferencelist-member [members]="members"
                              [member]="member"
                              [codeRegistryCodeValue]="extension.parentCodeScheme.codeRegistry.codeValue"
                              [codeSchemeCodeValue]="extension.parentCodeScheme.codeValue"
                              [extensionCodeValue]="extension.codeValue"
                              [ignoreHierarchy]="searchTermHasValue()"></app-crossreferencelist-member>
      </li>
    </ul>
  </div>

  <div class="emptyMembers" *ngIf="members.length === 0">
    <span translate>This extension does not have any members yet.</span>
  </div>
</div>
