<div class="modal-header">
  <h4 class="modal-title">
    <a><i id="close_modal_link" class="fa fa-times" (click)="cancel()"></i></a>
    <div>
      <span translate>{{terminologyIntegrationModalPageTitle}}</span>
    </div>
  </h4>
</div>

<div class="modal-body full-height">

  <div class="modal-sections">

    <div class="pb-2">
      <p translate>{{terminologyIntegrationModalInstructionText}}</p>

      <div class="input-group input-group-lg input-group-search">
        <input class="form-control"
               id="search_concept_input"
               #searchInput
               type="text"
               placeholder="{{'Search for concept' | translate}}"
               [(ngModel)]="search"/>
      </div>
    </div>

    <div class="pb-2">
      <app-filter-dropdown id="vocabulary_selection_dropdown"
                           [filterSubject]="vocabulary$"
                           [options]="vocabularyOptions"></app-filter-dropdown>
    </div>

    <div class="content-box scrolling-full-height">
      <div *ngIf="!loading && hasSearchResults()" class="search-results">
        <div class="search-result"
             *ngFor="let concept of searchResults; let last = last"
             [id]="concept.getIdIdentifier(languageService) + '_concept_link'"
             (click)="select(concept)">
          <div class="content" [class.last]="last">
            <span class="title">{{concept.prefLabel | translateValue}}</span>
            <span class="body">{{concept.definition | translateValue}}</span>
            <div class="origin">
              <span class="float-left">{{concept.vocabularyPrefLabel | translateValue}}</span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!loading && (debouncedSearch$ | async) && !hasSearchResults()">
        <p translate style="padding: 10px">No search results</p>
      </div>

      <div *ngIf="loading">
        <app-ajax-loading-indicator></app-ajax-loading-indicator>
      </div>
    </div>

    <div class="pb-2" *ngIf="!loading && (debouncedSearch$ | async)">
      <p translate style="padding-top: 10px"  *ngIf="showUnfinishedFeature">Concept suggestion instruction text</p>

      <dl>
        <dd>
          <div>
            <button id="open_terminology_modal_button_for_concept_suggestion" *ngIf="showUnfinishedFeature"
                    type="button"
                    class="btn btn-sm btn-secondary-action mt-2"
                    (click)="suggestAConcept()" [disabled]="!canSuggest()" translate>Suggest the concept to Controlled Vocabularies</button>
            &nbsp;
            <button id="cancel_modal_button"
                    type="button"
                    class="btn btn-sm btn-secondary-action mt-2"
                    (click)="cancel()">{{cancelText | translate}}</button>
          </div>
        </dd>
      </dl>

    </div>

  </div>

</div>

<div class="modal-footer" *ngIf="!search">
  <button id="cancel_modal_button"
          type="button"
          class="btn btn-sm btn-secondary-action mt-2"
          (click)="cancel()">{{cancelText | translate}}</button>
</div>
