.input-group-search {
  width: 90%;
}

.general-width {
  width: 90% !important;;
}

.content-box {
  height: 100%;
  min-width: 90%;
  max-width: 90%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

.search-results {
  height: 100%;
  min-width: 100%;
}

.modal-body.full-height {
  .row.full-height {
    height: calc(100% - 217px);
  }
}

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
  min-width: 100%;
}

.concept-search-box {
  padding-left: 0px;
  padding-right: 0px;
  min-width: 90%;
}

.small-bottom-padding {
  padding-bottom: 15px;
}

.box-sizing-content-box {
  box-sizing: content-box;
  width: 100%;
}
