.modal-sections {
  display: flex;
  flex-direction: column;
  height: 100%;

  .fixed-height-section {
    flex: 0 0 auto;
  }
}

.scrolling-full-height {
  height: 100%;
  overflow-y: auto;
}

.input-group-search {
  width: 400px;
}

.content-box {
  height: 100%;
  padding: 0;
  margin: 0;
}

.no-results {
  padding: 10px;
}
