<!--<button (click)=createCodeRegistry()>Create new code registry</button>-->
<div class="container-fluid py-5 px-4 content-box">
  <div class="row px-3">
    <div class="col-md-12">
      <div class="input-group input-group-lg input-group-search">
        <div class="content-box">
          <form>
            <div class="search">
              <input placeholder="Hae koodistoa">
              <span class="fa fa-search"></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>