<!--<button (click)=createCodeRegistry()>Create new code registry</button>-->
<div class="container-fluid py-5 px-4" style="border:1px solid #A5ACB0">

  <div class="row px-3">
    <div class="col-md-12">
      <div class="input-group input-group-lg input-group-search">
        <input class="form-control" type="text" ng-reflect-model="" placeholder="Hae koodistoa...">
      </div>
    </div>
  </div>

  <div class="row px-3">
    <div *ngIf='codeRegistries != null' else noRegistries>
      <table *ngFor="let codeRegistry of codeRegistries">
        <tr>
          <td>{{codeRegistry.prefLabels.en}}</td>
          <td><button (click)="viewCodeRegistry(codeRegistry)">View</button></td>
          <td><button (click)="viewCodeSchemes(codeRegistry)">CodeSchemes</button></td>
        </tr>
      </table>
    </div>
    <ng-template #noRegistries>
      <p>There are no registries available.</p>
    </ng-template>
  </div>
</div>