.input-group.input-group-search:before {
    content: "\F002";
    font-family: FontAwesome;
    top: 10px;
    left: 15px;
    font-size: 1.25rem;
    position: absolute;
    z-index: 10;
}
:after, :before {
    box-sizing: inherit;
}

.container {
    background-color: #F6F6F7;
}

