<div class="content-box">

  <h1>Tietoa Koodistoista</h1>

  <p>
    Koodistot-työkalu on kansallinen yhteiskäyttöinen koodistojen ja luokitusten ylläpito- ja jakelualusta sekä yksi Yhteentoimivuusalustan neljästä työkalusta (Sanastot, Koodistot, Tietomallit ja Kommentit).
  </p>

  <p>
    Koodistot-työkalun sisältöä voi selata ja ottaa käyttöön tarvittavia koodistoja. Koodistoja käytetään myös Tietomallit-työkalun tietomalleissa tietojen arvojoukkoina. Koodiston tai koodin merkityksen voi liittää Sanastot-työkalussa määriteltyyn käsitteeseen.
  </p>

  <p>
    Koodistot-työkalu julkaistiin tammikuussa 2018. Kehitystyö jatkuu yhteistyössä käyttäjien kanssa.
  </p>

  <h2>Koodistot-työkalu on tarkoitettu</h2>

  <ul>
    <li>organisaation koodistotyön tekijöille</li>
    <li>tietoarkkitehdeille ja tietomallintajille</li>
    <li>IT-asiantuntijoille</li>
    <li>viestinnän asiantuntijoille ja kääntäjille</li>
    <li>julkisen hallinnon palveluja käyttäville kansalaisille, jotka haluavat selvittää hallinnon käyttämien koodistojen merkityksiä</li>
  </ul>

  <h2>Koodistot-työkalulla voi</h2>

  <ul>
    <li>ylläpitää koodistoja ja niiden koodeja ja julkaista ne yhteiseen käyttöön</li>
    <li>hakea koodistoja ja koodeja</li>
    <li>ladata koodiston omaan käyttöön manuaalisesti eri tiedostomuodoissa (JSON, CSV, Excel)</li>
    <li>hyödyntää koodistoja tietojärjestelmissä avoimen rajapinnan kautta</li>
    <li>ylläpitää ja muokata olemassa olevia koodistoja, koodeja ja näiden metatietoja</li>
    <li>tuoda uuden koodiston palveluun MS Excel tai CSV-muodoissa</li>
    <li>luoda koodistosta uuden version tai variantin</li>
  </ul>

  <h2>Hyödyt käyttäjille</h2>

  <ul>
    <li>Koodistoista asiakkaat saavat laadukkaat ja ajantasaiset koodistot käyttöönsä yhdestä paikasta</li>
    <li>Omien Excel-tiedostojen tai koodistopalvelun sijaan organisaatiot voivat ylläpitää koodistoja Koodistot-työkalussa</li>
    <li>Koodistot voidaan ottaa käyttöön omassa tietojärjestelmässä rajapinnan kautta</li>
  </ul>

  <h2>Miten voin liittyä työkalun käyttäjäksi?</h2>
  <p>
    Koodistot-työkalua voi käyttää verkossa osoitteesta  <a id="service_link" href="https://koodistot.suomi.fi" target="_blank" rel="noopener noreferrer">https://koodistot.suomi.fi</a>.
    Tietojen tuonti ja muokkaus edellyttävät organisaatiokohtaisia käyttöoikeuksia. Käyttöoikeushakemuksen voi täyttää osoitteessa
    <a id="application_for_access_link" href="https://yhteentoimiva.suomi.fi/fi/kayttolupahakemus" target="_blank" rel="noopener noreferrer">https://yhteentoimiva.suomi.fi/fi/kayttolupahakemus</a>.
  </p>

  <h2>Katso myös</h2>

  <ul>
    <li>
      <a id="interoperability_site_link" href="https://yhteentoimiva.suomi.fi" target="_blank" rel="noopener noreferrer">yhteentoimiva.suomi.fi</a>
    </li>
    <li>
      Yhteentoimivuusalustan julkinen dokumentaatio Confluencessa
      <ul>
        <li><a id="service_initialization_link" href="https://wiki.dvv.fi/pages/viewpage.action?pageId=21779517" target="_blank" rel="noopener noreferrer">Palvelun käyttöönotto</a></li>
        <li><a id="service_instructions_link" href="https://wiki.dvv.fi/pages/viewpage.action?pageId=21783347" target="_blank" rel="noopener noreferrer">Käyttöohjeet</a></li>
      </ul>
    </li>
  </ul>

   <h2>Ota yhteyttä</h2>

   <p>Sähköpostilla osoitteeseen yhteentoimivuus[at]dvv.fi</p>

</div>
