<div class="content-box">
  
  <h1>Koodistot</h1>
  <br/>
  <p>
    Koodistoeditori on kansallinen koodistopalvelu, josta löytyvät julkisessa hallinnossa yleisesti käytettävät koodistot ja luokitukset. Koodistoeditori on osa kansallista yhteentoimivuusalustaa. Palvelu tarjoaa pääsyn ja ylläpitotoiminnot koodistoihin helposti yhdestä paikasta. Rakenteilla olevasta kansallisesta koodistopalvelusta saat jatkossa kaikki keskeiset Suomessa julkishallinnossa käytettävät koodistot.
  </p>
  <p>Kansallisessa koodistopalvelussa voit:</p>
  <ul>
    <li>hakea koodistoja ja koodeja</li>
    <li>ladata koodiston omaan käyttöön manuaalisesti eri tiedostomuodoissa (JSON, RDF/XML, CSV, Excel)</li>
    <li>hyödyntää koodistoja suoraan tietojärjestelmissä avoimen REST-rajapinnan kautta (kehittäjä)</li>
    <li>ylläpitää ja muokata olemassa olevia koodistoja, koodeja ja näiden metatietoja (vastuuorganisaation muokkaaja)</li>
    <li>tuoda uuden koodiston palveluun MS Excel tai CSV-muodoissa (vastuuorganisaation muokkaaja)</li>
    <li>luoda koodistosta uuden version tai variantin (vastuuorganisaation muokkaaja)</li>
  </ul>

  <h2>Hyödyt käyttäjille</h2>
  <p>
    Palvelun asiakkaat saavat laadukkaat ja ajantasaiset koodistot käyttöönsä yhdestä paikasta. Omien Excel-tiedostojen tai koodistopalvelun sijaan, organisaatiot voivat ylläpitää koodistoja yhdessä keskitetyssä palvelussa.
  </p>
  <p>
    Tietojärjestelmien välinen yhteentoimivuus perustuu suurelta osin koodistoihin, jotka ovat semantiikaltaan ja tekniseltä toteutukseltaan samanlaisia. Koodistopalvelun koodistoja käytetään myös yhteentoimivuusmenetelmässä ja tietomallieditorissa tietojen arvojoukkoina.
  </p>

  <h2>Miten palvelu toimii?</h2>
  <p>
      Palvelusta voi hakea etsi-toiminnon avulla koodistoja tai koodeja. Koodiston voi ladata omaan käyttöön Microsoft Excel - ja CSV-muodoissa. Sovelluskehittäjät voivat käyttää tulevaisuudessa koodistoja avoimen REST-rajapinnan kautta.
  </p>
  <p>
      Koodistojen ylläpidosta ja ajantasaisuudesta vastaavat koodistolle määritellyt vastuutahot. Palveluun liittyneen organisaation ylläpitäjä/muokkaaja voi tuoda omia koodistoja palveluun CSV- tai Excel-muodossa, muokata koodistoja ja niiden metatietoja sekä luoda koodistoista uusia versiota tai variantteja. Tulevaisuudessa koodistoja tuodaan palveluun myös avoimien rajapintojen kautta.
  </p>

  <h2>Nykytilanne</h2>
  <p>
      Koodistot palvelun kehitys alkoi syyskuussa 2017. Ensimmäinen kehitysversio julkaistiin 23. tammikuuta 2018. Palvelun on tarkoitus valmistua vuoden 2018 loppuun mennessä (versio 1.0).
  </p>

  <h2>Miten voin liittyä palvelun käyttäjäksi?</h2>
  <p>
      Palvelua voi käyttää verkossa osoitteesta <a id="service_link" href="https://koodistot.suomi.fi">https://koodistot.suomi.fi</a>. Tietojen tuonti ja muokkaus edellyttävät organisaatiokohtaisia käyttöoikeuksia. Liittyminen palveluun on mahdollista yhteentoimivuusalustan yhteisen oikeuksienhallintasovelluksen kautta. Tietojen tuonti- ja muokkausoikeudet annetaan aluksi vain pilottikumppaneille. Palvelua kehitetään yhdessä yhteistyöverkoston ja pilottikumppanien kanssa.
  </p>

</div>
