<div class="content-box">
  
  <h1>Tietoa Koodistoista</h1>

  <p>
    Koodistot-työkalu on kansallinen yhteiskäyttöinen koodistojen ja luokitusten ylläpito- ja jakelualusta sekä yksi yhteentoimivuusalustan kolmesta työkalusta. Koodistot-työkalun sisältöä voi selata ja ottaa käyttöön tarvittavia koodistoja. Koodistoja käytetään myös tietomallit-työkalun semanttisissa tietomalleissa tietojen arvojoukkoina. Koodiston tai koodin merkityksen voi liittää Sanastot-työkalussa määriteltyyn käsitteeseen.
  </p>
  <p>
    Koodistot-työkalu julkaistiin käyttöön tammikuussa 2018. Kehitystyö jatkuu yhteistyössä käyttäjien kanssa.
  </p>
  <p>Koodistot-työkalulla voit:</p>
  <ul>
    <li>hakea koodistoja ja koodeja</li>
    <li>ladata koodiston omaan käyttöön manuaalisesti eri tiedostomuodoissa (JSON, RDF/XML, CSV, Excel)</li>
    <li>hyödyntää koodistoja tietojärjestelmissä avoimen REST-rajapinnan kautta (kehittäjä)</li>
    <li>ylläpitää ja muokata olemassa olevia koodistoja, koodeja ja näiden metatietoja (vastuuorganisaation muokkaaja)</li>
    <li>tuoda uuden koodiston palveluun MS Excel tai CSV-muodoissa (vastuuorganisaation muokkaaja)</li>
    <li>luoda koodistosta uuden version tai variantin (vastuuorganisaation muokkaaja).</li>
  </ul>

  <h2>Hyödyt käyttäjille</h2>
  <p>
    Koodistoista asiakkaat saavat laadukkaat ja ajantasaiset koodistot käyttöönsä yhdestä paikasta. Omien Excel-tiedostojen tai koodistopalvelun sijaan, organisaatiot voivat ylläpitää koodistoja Koodistot-työkalussa.
  <p>
    Tietojärjestelmien välinen yhteentoimivuus perustuu myös koodistoihin, jotka ovat semantiikaltaan ja tekniseltä toteutukseltaan samanlaisia.
  </p>

  <h2>Miten Koodistot-työkalu toimii?</h2>
  <p>
    Koodistot-työkalusta voi hakea koodistoja tai koodeja. Koodiston voi ladata omaan käyttöön Microsoft Excel - ja CSV-muodoissa. Sovelluskehittäjät voivat käyttää koodistoja avoimen REST-rajapinnan kautta (mahdollisesti syksyllä 2018).  </p>
  <p>
    Koodistojen ylläpidosta ja ajantasaisuudesta vastaavat koodistolle määritellyt vastuutahot (vastuuorganisaatiot tai ryhmät). Palveluun liittyneen organisaation muokkaajan roolilla voi tuoda koodistoja palveluun CSV- tai Excel-muodoissa, muokata koodistoja ja niiden metatietoja sekä luoda koodistoita uuden version tai variantin. Tulevaisuudessa koodistoja tuodaan Koodistot-työkaluun myös avoimien rajapintojen kautta.
  </p>

  <h2>Miten voin liittyä työkalun käyttäjäksi</h2>
  <p>
    Koodistot-työkalua voi käyttää verkossa osoitteesta <a id="service_link" href="https://koodistot.suomi.fi" target="_blank">https://koodistot.suomi.fi</a>. Tietojen tuonti ja muokkaus edellyttävät organisaatiokohtaisia käyttöoikeuksia. Liittyminen Koodistot-työkalun muokkaajaksi on mahdollista yhteentoimivuusalustan yhteisen oikeuksienhallintasovelluksen kautta.    
  </p>

  <h2>Katso myös</h2>
  <ul>
    <li>
      <a id="interoperability_site_link" href="https://yhteentoimiva.suomi.fi" target="_blank">yhteentoimiva.suomi.fi</a>
    </li>
    <li>       
      <a id="documentation_link" href="https://confluence.csc.fi/display/VRKYTI/VRK+YTI" target="_blank">
        YTI-hankkeen dokumentaatio Confluencessa
      </a>
    </li>
    <li>
      VM:n
      <a id="vm_yti_link" href="http://vm.fi/yhteinen-tiedon-hallinta" target="_blank">
        yhteinen tiedon hallinta (YTI) -hankkeen sivut
      </a>
    </li>
   </ul>

   <h2>Ota yhteyttä</h2>
   <p>Sähköpostilla osoitteeseen yhteentoimivuus[at]vrk.fi</p>
</div>
