<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading">
  <form [formGroup]="memberForm" #form="ngForm">

    <div class="row">
      <div class="col-12">
        <app-editable-buttons [form]="form"
                              [entity]="currentMember"></app-editable-buttons>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10">
        <app-literal [label]="'Code list' | translate"
                     [value]="extension.parentCodeScheme.getDisplayName(languageService)"></app-literal>

        <app-literal [label]="'Extension' | translate"
                     [value]="extension.getDisplayName(languageService)"></app-literal>

        <app-localizable-input [id]="'member_name_input'"
                               [label]="'Member name' | translate"
                               [formControlName]="'prefLabel'"></app-localizable-input>

        <div *ngFor="let valueType of extension.propertyType.valueTypes">
          <app-literal-input [id]="'member_membervalue_' + valueType.localName + '_input'"
                             [label]="valueType.prefLabel | translateValue"
                             [required]="valueType.required"
                             [formControlName]="valueType.localName"></app-literal-input>
        </div>

        <app-clipboard *ngIf="getCodeUri()"
                       id="member_code_uri"
                       [label]="'Code URI' | translate"
                       [value]="getCodeUri()"
                       [showAsLink]="false"
                       [infoText]="'INFO_TEXT_CODE_URI'"></app-clipboard>

        <app-clipboard *ngIf="getCodeConceptUri()"
                       id="member_code_terminology_uri"
                       [label]="'Code vocabularies URI' | translate"
                       [value]="getCodeConceptUri()"
                       [showAsLink]="false"
                       [infoText]="'INFO_TEXT_CODE_CONCEPT_URI'"></app-clipboard>

        <app-code-input id="member_code_input"
                        [label]="'Code' | translate"
                        [codeSchemes]="this.allCodeSchemes"
                        [required]="true"
                        [showDetailLabel]="showCodeDetailLabel"
                        [formControlName]="'code'"></app-code-input>

        <app-member-input id="member_relatedmember_input"
                          [label]="'Broader member' | translate"
                          [extension]="currentMember.extension"
                          [currentMember]="currentMember"
                          [formControlName]="'relatedMember'"></app-member-input>

        <app-date-range-input id="member_validity_input"
                              [label]="'Validity' | translate"
                              [infoText]="'INFO_TEXT_MEMBER_VALIDITY'"
                              [formControlName]="'validity'"></app-date-range-input>

        <app-clipboard id="member_uri"
                       [label]="'URI' | translate"
                       [value]="getMemberUri()"
                       [showAsLink]="false"
                       [infoText]="'INFO_TEXT_URI'"></app-clipboard>

        <app-literal [label]="'Last modification' | translate"
                     [value]="currentMember.modifiedDisplayValue"></app-literal>
      </div>
    </div>

  </form>
</div>
