<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading">
  <div class="row mb-12">
    <div class="col-md-10">
      <p translate>Frontpage long description</p>
    </div>
    <div *ngIf="canCreateCodeScheme()" class="col-md-2 float-right d-inline-block">
      <button id="import_codelist_button"
              type="button"
              class="btn btn-action float-right"
              (click)="importCodeScheme()"
              translate>Add code list</button>
    </div>
  </div>

  <div class="inline-label">
    <span class="search-label" translate>Search for code lists</span>
    <app-information-symbol [infoText]="'INFO_TEXT_FRONTPAGE_SEARCH'"></app-information-symbol>
  </div>
  <div class="row mb-12">
    <div class="input-group input-group-lg input-group-search col-md-6">
      <input class="form-control"
             #schemeSearch
             id="search_box_input"
             type="text"
             [(ngModel)]="searchTerm"
             placeholder="{{'Search term' | translate}}"/>
    </div>
    <div class="col-md-4" style="line-height: 45px">
      <div class="checkbox">
        <input id="search_code_details_checkbox" type="checkbox" (click)="toggleSearchCodes()">
        <label for="search_code_details_checkbox" translate>Extend search to codes</label>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <div class="inline-label">
        <span class="search-label" translate>Filter with classification</span>
        <app-information-symbol [infoText]="'INFO_TEXT_FRONTPAGE_FILTER_W_CLASSIFICATION'"></app-information-symbol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="content-box">
        <div *ngFor="let dataClassification of dataClassifications">
          <div *ngIf="dataClassification.count > 0">

            <div class="classification"
                id="{{dataClassification.entity.codeValue + '_classification_filter_link'}}"
                 [class.active]="isClassificationSelected(dataClassification.entity)"
                 (click)="toggleClassification(dataClassification.entity)">
              <img class="float-left" [src]="groupIconSrc(dataClassification.entity.codeValue)" >
              <span class="count float-right">({{dataClassification.count}})</span>
              <span class="name" style="vertical-align: middle;">{{dataClassification.entity.prefLabel | translateValue:true }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">

      <div *ngIf="searchInProgress" class="content-box">
        <app-ajax-loading-indicator></app-ajax-loading-indicator>
      </div>

      <div class="codescheme-container content-box" *ngIf="!searchInProgress">

        <div class="inline-label float-left">
          <span class="search-label" translate>Filter results</span>
          <app-information-symbol [infoText]="'INFO_TEXT_FRONTPAGE_FILTER_RESULTS'"></app-information-symbol>
        </div>

        <app-filter-dropdown class="d-inline-block"
                             id="organization_filter_dropdown"
                             [filterSubject]="organization$"
                             [options]="organizationOptions"></app-filter-dropdown>

        <app-filter-dropdown class="d-inline-block"
                             id="registry_filter_dropdown"
                             [filterSubject]="registry$"
                             [options]="registryOptions"></app-filter-dropdown>

        <app-filter-dropdown class="d-inline-block"
                             id="status_filter_dropdown"
                             [filterSubject]="status$"
                             [options]="statusOptions"></app-filter-dropdown>

        <div class="row mb-4">
          <div class="col-12">
            <span *ngIf="filteredCodeSchemes.length == 0" translate>Search did not find any code lists.</span>
            <span *ngIf="filteredCodeSchemes.length == 1">1 {{'search result' | translate}}</span>
            <span *ngIf="filteredCodeSchemes.length > 1">{{filteredCodeSchemes.length}} {{'search results' | translate}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="result-list-item" *ngFor="let codeScheme of filteredCodeSchemes">
              <div class="codeschemeInListing" id="{{codeScheme.idIdentifier + '_codelist_link'}}" (click)="viewCodeScheme(codeScheme)">
                <div class="row mb-4">
                  <div class="col-8">
                    <div class="name">{{codeScheme.getDisplayName(languageService, true)}}</div>
                  </div>
                  <div class="col-4">
                    <div><span class="float-right">{{codeScheme.codeRegistry.getDisplayName(languageService, true)}}</span>
                      <i class="material-icons float-right orange">account_balance</i>
                    </div>
                  </div>
                </div>

                <app-status class="float-right" [status]="codeScheme.status"></app-status>
                <div class="description">{{codeScheme.getDisplayDescription(languageService, true)}}</div>
                <br/>
                <ul id="classifications-list">
                  <li *ngFor="let classification of codeScheme.getDisplayClassificationListing(languageService, true)">
                    {{classification}}
                  </li>
                </ul>
                <div class="organization">
                  <span *ngIf="codeScheme.organizations.length == 0" translate>No organization</span>
                  <span *ngIf="codeScheme.organizations.length == 1">{{codeScheme.organizations[0].prefLabel | translateValue:true}}</span>
                  <span *ngIf="codeScheme.organizations.length > 1">
                    {{codeScheme.getDisplayOrganizationList(languageService, true)}}
                  </span>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
