@import '~yti-common-ui/theme/variables';

.classification {

  display: inline-block;
  width: 100%;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
  border-left: $active-indicator-width solid $white;

  &:hover, &.active {
    border-left: $active-indicator-width solid $primary;
  }

  &.active {
    font-weight: 500;
  }

  .name {
    float: left;
  }

  .count {
    float: right;
    color: $primary;
  }
}

.code-scheme {

  display: inline-block;
  width: 100%;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
  border-left: $active-indicator-width solid $white;

  &:hover {
    border-left: $active-indicator-width solid $primary;
  }

  .name {
    color: $primary;
    font-weight: 600;
    float: left;
  }

  .organization {
    float: right;
    clear: right;
    color: $dark;
  }
}

.checkbox {

  label {
    padding-left: 8px;
  }
}
