<div class="container-fluid py-4 px-4 content-area">
  <div class="container-fluid py-4 px-4">
    <div class="row">
      <div class="col-md-auto">
        <div class="content-box">
          <div class="input-group input-group-lg input-group-search">
            <input class="form-control input-lg" #schemeSearch id="search-box" type="text" (keyup)="searchCodeSchemes(schemeSearch.value)" placeholder="Hae koodistoa"/>
            <i class="fa fa-search mt-3"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-4 px-4">
    <div class="row">
      <div class="col pl-0">
        <div class="content-box">
          <h4 class="blacktext ml-4">Palveluluokitus</h4>
          <ul class="list-unstyled semibold blacktext ml-4">
            <li>Asuminen</li>
            <li>Demokratia</li>
            <li>Elinkeinot</li>
            <li>Eläkkeet</li>
            <li>Hallinto</li>
            <li>Järjestys</li>
            <li>Kartat</li>
          </ul>
        </div>
      </div>
      <div class="col-8">
        <div class="row h-100">

          <div class="h-10 col-md-auto mr-3">
            <div ngbDropdown class="d-inline-block content-box">
              <button class="btn btn-outline-primary semibold" id="dropdownBasic1" ngbDropdownToggle>Kaikki rekisterit</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Kaikki rekisterit</button>
              </div>
            </div>
          </div>

          <div class="h-10 col-md-auto mr-3">
            <div ngbDropdown class="d-inline-block content-box">
              <button class="btn btn-outline-primary semibold" id="dropdownBasic1" ngbDropdownToggle>Kaikki organisaatiot</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Kaikki organisaatiot</button>
              </div>
            </div>
          </div>

          <div class="h-10 col-md-auto mr-3">
            <div ngbDropdown class="d-inline-block content-box">
              <button class="btn btn-outline-primary semibold" id="dropdownBasic1" ngbDropdownToggle>Kaikki tilat</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Kaikki tilat</button>
                <button class="dropdown-item">Korvattu</button>
                <button class="dropdown-item">Odottaa hyväksyntää</button>
                <button class="dropdown-item">Poistettu</button>
                <button class="dropdown-item">Virheellinen</button>
                <button class="dropdown-item">Voimassa oleva</button>
                <button class="dropdown-item">Luonnos</button>
              </div>
            </div>
          </div>
          <div class="content-box mt-4">
            <div class="col-md-6 h-90">
              <div *ngIf='codeSchemes != null && (codeSchemes | async)?.length > 0; else noContent'>
                <span class="codeschemecount semibold">{{(codeSchemes |async)?.length}}</span>
                <span class="semibold" translate>code schemes</span>
              </div>
              <div class="table-responsive" *ngIf='codeSchemes != null'>
                <table class="table borderless table-no-bordered" *ngFor="let codeScheme of codeSchemes | async">
                  <tr>
                    <td class="col-8">
                      <button type="button" class="btn btn-link codescheme bold" (click)="viewCodeScheme(codeScheme)">{{codeScheme.prefLabels.fi}}</button>
                    </td>
                    <td class="col-2 alignright">
                      <span translate class="status bold alignright">{{codeScheme.status}}</span>
                      <br/>
                      <button class="btn btn-link semibold" (click)="viewOrganization()">Testi organisaatio</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noContent>
    <span translate>Search did not find any codeschemes.</span>
  </ng-template>
