<div class="container-fluid py-4 px-4 content-area">
  <div class="container-fluid py-4 px-4">
    <div class="row">
      <div class="col-md-auto">
        <div class="content-box">
          <div class="input-group input-group-lg input-group-search">
            <input class="form-control input-lg" #schemeSearch id="search-box" type="text" (keyup)="searchCodeSchemes(schemeSearch.value)" placeholder="Hae koodistoa"/>
            <i class="fa fa-search mt-3"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid p-4">
    <div class="row">
      <div class="col-3">
        <div class="content-box">
          <h4 class="blacktext p-3" translate>Service classification</h4>
          <div class="container" *ngFor="let serviceClassification of serviceClassifications | async">
            <div class="row pb-3" *ngIf='serviceClassification.count > 0'>
              <div class="semibold serviceclassification col-md-9">
                <button class="btn btn-link classification" (click)='selectServiceClassification(serviceClassification.codeValue)'>{{serviceClassification.prefLabels.fi}}</button>
              </div>
              <div class="semibold counttext col-md-3 pr-5 alignRight">
                <span class="blacktext">({{serviceClassification.count}})</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-9">
        <div class="row">
          <div class="h-10 col-md-auto mr-3">
            <div ngbDropdown class="d-inline-block content-box">
              <button class="btn btn-outline-primary semibold" id="dropdownBasic1" ngbDropdownToggle>Kaikki rekisterit</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Kaikki rekisterit</button>
              </div>
            </div>
          </div>

          <div class="h-10 col-md-auto mr-3">
            <div ngbDropdown class="d-inline-block content-box">
              <button class="btn btn-outline-primary semibold" id="dropdownBasic1" ngbDropdownToggle>Kaikki organisaatiot</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Kaikki organisaatiot</button>
              </div>
            </div>
          </div>

          <div class="h-10 col-md-auto mr-3">
            <div ngbDropdown class="d-inline-block content-box">
              <button class="btn btn-outline-primary semibold" id="dropdownBasic1" ngbDropdownToggle>Kaikki tilat</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Kaikki tilat</button>
                <button class="dropdown-item">Korvattu</button>
                <button class="dropdown-item">Odottaa hyväksyntää</button>
                <button class="dropdown-item">Poistettu</button>
                <button class="dropdown-item">Virheellinen</button>
                <button class="dropdown-item">Voimassa oleva</button>
                <button class="dropdown-item">Luonnos</button>
              </div>
            </div>
          </div>
        </div>

        <div class="content-box container mt-3">
          <div class="row mt-3 ml-0" *ngIf='codeSchemes != null && (codeSchemes | async)?.length == 1'>
            <span class="codeschemecount semibold">{{(codeSchemes |async)?.length}}&nbsp;</span>
            <span class="semibold" translate>code scheme</span>
          </div>
          <div class="row mt-3 ml-0" *ngIf='codeSchemes != null && (codeSchemes | async)?.length > 1'>
            <span class="codeschemecount semibold">{{(codeSchemes |async)?.length}}&nbsp;</span>
            <span class="semibold" translate>code schemes</span>
          </div>
          <div class="row mt-3 ml-0" *ngIf='codeSchemes != null && (codeSchemes | async)?.length == 0'>
            <span translate>Search did not find any codeschemes.</span>
          </div>
          <div *ngIf='codeSchemes != null'>
            <div class="row mt-2 mb-2" *ngFor="let codeScheme of codeSchemes | async">
              <div class="col-md-9 alignLeft">
                <button type="button" class="btn btn-link codescheme semibold" (click)="viewCodeScheme(codeScheme)">{{codeScheme.prefLabels.fi}}</button>
              </div>
              <div class="col-md-3 alignRight">
                <span translate class="status bold alignright">{{codeScheme.status}}</span>
                <br/>
                <button class="btn btn-link semibold" (click)="viewOrganization()">Testi organisaatio</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
