.search-box {

}

.rightcell {
  text-align: right;
}

.codescheme {
  font-weight: bold;
  font-size: large;
  color: #2A6EBB;
}

.container-fluid {
  background-color: #F6F6F7;
}

.codeschemecount {
  padding: 0 0 15px 10px;
}

.table th, .table td {
  border-top: none !important;
  border-left: none !important;
}

.fixed-table-container {
  border: 0px;
}
