@import '~yti-common-ui/theme/variables';

.checkbox {

  input {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
  }

  label {
    vertical-align: middle;
    padding-left: 10px;
    display: inline-block;
  }
}
