input {
  background-color: white;
  border: 0px;
}

i {
  padding-right: 10px;
  font-size: 17px;
}

button {
  border: 0px;
  color: black;
}

.counttext {
  color: #003479;
}

.serviceclassification {
  border-left: 5px;
  border-color: white;
  border-left-style: solid;
  font-weight: bold;
  font-size: large;
  color: black;
}

.serviceclassification:hover, .serviceclassification:focus, .serviceclassification:active {
  border-color: #2A6EBB;
  font-weight: bold;
}

.blacktext {
  color: black;
}

.table th, .table td {
  border-top: none !important;
  border-left: none !important;
}

.fixed-table-container {
  border: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: small;
  font-weight: 600;
  color: #A5ACB0;
}

.codescheme {
  font-weight: bold;
  font-size: large;
  color: #2A6EBB;
}

.codeschemecount {
  padding: 0 0 15px 10px;
}
