.deep-results {
  margin-top: 1em;

  .deep-results-title {
    font-weight: 600;
    font-size: 0.86rem;
  }

  .deep-results-section {
    margin-left: 1rem;
    margin-bottom: 0.0rem;
    &:last-child {
      margin-bottom: 0;
    }

    .deep-results-section-title {
      font-weight: 600;
      font-size: 0.86rem;
    }

    .deep-results-section-content {
      font-size: 1rem;

      a.deep-results-hit {
        display: inline-block;
        font-size: 0.9375rem;
        margin-right: 1rem;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
      }

      .deep-results-show-all {
        display: inline-block;
        font-size: 0.9375rem;
        font-style: italic;
        vertical-align: middle;
      }
    }
  }
}
