<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button [id]="'extensionscheme_create_back_button'" (back)="back()"></app-back-button>

  <div class="row">
    <div class="col-12">
      <h1 class="float-left">{{this.title | translate}}</h1>
      <app-content-language></app-content-language>
    </div>
  </div>

  <form [formGroup]="extensionSchemeForm" #form="ngForm">

    <div class="row">
      <div class="col-12">
        <app-editable-buttons [form]="form"></app-editable-buttons>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10">
        <app-literal-input [id]="'extensionscheme_codevalue_input'"
                           [label]="'LABEL_TEXT_CREATE_EXTENSION_SCHEME_ID' | translate"
                           [required]="true"
                           [infoText]="'INFO_TEXT_CREATE_EXTENSION_SCHEME_ID'"
                           [formControlName]="'codeValue'"></app-literal-input>

        <div class="form-group">
            <app-error-messages id="extensionscheme_form_error_messages" [control]="extensionSchemeForm"></app-error-messages>
        </div>

        <app-localizable-input [id]="'extensionscheme_name_input'"
                               [label]="'Extension name' | translate"
                               [infoText]="'INFO_TEXT_EXTENSION_SCHEME_NAME'"
                               [formControlName]="'prefLabel'"></app-localizable-input>

        <app-literal [label]="'Extension type' | translate"
                     [value]="propertyType.prefLabel | translateValue"
                     [infoText]="'INFO_TEXT_EXTENSION_SCHEME_TYPE'"></app-literal>

        <app-code-scheme-input id="extension_code_scheme_input"
                               [label]="'Code list' | translate"
                               [parentCodeScheme]="codeScheme"
                               [formControlName]="'codeSchemes'"></app-code-scheme-input>

        <app-status-input id="extensionscheme_status_input"
                          [infoText]="'INFO_TEXT_EXTENSION_SCHEME_STATUS'"
                          [formControlName]="'status'"></app-status-input>

        <app-date-range-input id="extensionscheme_validity_input"
                              [label]="'Validity' | translate"
                              [infoText]="'INFO_TEXT_EXTENSION_SCHEME_VALIDITY'"
                              [formControlName]="'validity'"></app-date-range-input>
      </div>
    </div>

  </form>
</div>
