<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading">
  <form [formGroup]="extensionSchemeForm" #form="ngForm">

    <div class="row">
      <div class="col-12">
        <app-editable-buttons [form]="form"
                              [entity]="extensionScheme"></app-editable-buttons>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10">
        <app-literal *ngIf="this.extensionScheme.parentCodeScheme"
                     [label]="'Code list' | translate"
                     [value]="extensionScheme.parentCodeScheme.getDisplayName(languageService)"
                     [infoText]="'INFO_TEXT_EXTENSION_SCHEME_CODE_LIST'"></app-literal>

        <app-literal [label]="'LABEL_TEXT_EXTENSION_SCHEME_ID' | translate"
                     [value]="extensionScheme.codeValue"
                     [infoText]="'INFO_TEXT_EXTENSION_SCHEME_ID'"></app-literal>

        <app-localizable-input [id]="'extensionscheme_name_input'"
                               [label]="'Extension scheme name' | translate"
                               [infoText]="'INFO_TEXT_EXTENSION_SCHEME_NAME'"
                               [formControlName]="'prefLabel'"></app-localizable-input>

        <app-property-type-select id="propertytype_select"
                                  [label]="'Extension scheme type' | translate"
                                  [context]="'ExtensionScheme'"
                                  [infoText]="'INFO_TEXT_EXTENSION_SCHEME_TYPE'"
                                  [formControlName]="'propertyType'"></app-property-type-select>

        <app-code-scheme-input id="extension_code_scheme_input"
                               [label]="'Code list' | translate"
                               [formControlName]="'codeSchemes'"></app-code-scheme-input>

        <app-status-input id="extensionscheme_status_input"
                          [formControlName]="'status'"
                          [restrict]="restricted"
                          [infoText]="'INFO_TEXT_EXTENSION_SCHEME_STATUS'"></app-status-input>

        <app-date-range-input id="extensionscheme_validity_input"
                              [label]="'Validity' | translate"
                              [infoText]="'INFO_TEXT_EXTENSION_SCHEME_VALIDITY'"
                              [formControlName]="'validity'"></app-date-range-input>

        <app-literal [label]="'Last modification' | translate"
                     [value]="extensionScheme.modifiedDisplayValue"
                     [infoText]="'INFO_TEXT_EXTENSION_SCHEME_LAST_MODIFICATION'"></app-literal>
      </div>
    </div>
  </form>
</div>
