<div class="codes row">
  <div class="col-md-12">
    <div *ngIf="canAddExtension()" class="d-inline-block mb-1 pull-right">
      <button id="import_extensions_button"
              type="button"
              class="btn btn-action ml-3 pull-right"
              (click)="importExtensions()"
              translate>Import extensions</button>
      <button id="create_extension_button"
              type="button"
              class="btn btn-action pull-right"
              (click)="createExtension()"
              translate>Create extension</button>
    </div>
  </div>

  <div id="extensionscheme_extensions_div" class="col-md-12">
    <ul id="extensionscheme_extensions_regular">
      <li *ngFor="let extension of extensions; trackBy: extensionIdentity">
        <app-extension-listitem [extension]="extension"></app-extension-listitem>
      </li>
    </ul>
  </div>

  <div class="emptyExtensions" *ngIf="extensions.length === 0">
    <span translate>This extensionscheme does not have any extensions yet.</span>
  </div>
</div>
