@import "variables";;

.modal-header {

  color: $body-color;
  background-color: $white;
  border-bottom: none;

  h4 {
    width: 100%;
  }

  span {
    float: left;
  }

  a {
    float: right;
    cursor: pointer;
  }

  &.modal-header-warning {
    color: $white;
    background-color: $warning;
  }

  &.modal-header-danger {
    color: $white;
    background-color: $danger;
  }
}

.modal-footer {
  justify-content: flex-start;
  border-top: 1px solid $light;
}

.modal-body {

  display: inline-block;
  width: 100%;

  &.full-height {
    height: calc(100vh - 200px);

    > div.row {

      height: 100%;

      > div.col-md-4, div.col-md-6, div.col-md-12 {
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}
