@import "../../theme/variables";

button {

  border-radius: 15px;
  color: $gray;
  background: transparent;
  border: none;
  font-size: 25pt;

  &:before {
    font-family: simple-line-icons;
    content: $sli-arrow-left-circle;
  }
}
