@import "../../theme/variables";

a {

  border-radius: 15px;
  color: $gray !important;
  background: transparent;
  border: none;
  font-size: 25pt;
  cursor: pointer;
  padding: 0;

  &:before {
    font-family: simple-line-icons;
    content: $sli-arrow-left-circle;
  }
}
