@import '../../_variables.scss';

a {
  cursor: pointer;
}

h4 {
  font-weight: 600;
  margin-top: 0.5rem;
}

img {
  width: 40px;
  height: 40px;
  margin: 0 0 0 15px;
}

.nav-item.bg-inverse > a {
  background-color: $brand-bg;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 auto;
  font-size: 0;
  height: 40px;
  margin-left: auto;
  text-align: right;
  padding-right: 10px;
  width: 130px;
}

.login-container .top-row-link-login {
  color: #2A6EBB;
  font-family: SourceSansProSemibold,SourceSansProRegular,"Helvetica Neue",Arial;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: .875rem;
  height: 59px;
  line-height: 59px
}

.language-selection .dropdown-button {
  background: 0 0;
  border: 1px solid #A5ACB0;
  color: #282828;
  font-size: 14px!important;
  height: 30px;
  padding: 0 0 0 6px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 44px;
  line-height: 0;
}

.language-selection .dropdown-content {
  background: #fff;
  border: 1px solid #A5ACB0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
  border-radius: 2px;
  right: 0;
  top: 40px;
}
