<nav class="navbar navbar-expand-md navbar-light">

  <a class="navbar-brand" [routerLink]="['/']">
    <app-logo class="pull-left pr-3"></app-logo>
    <span translate>Code list service</span>
  </a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link">KIRJAUDU SISÄÄN</a>
    </li>
    <li class="nav-item dropdown" placement="bottom-right" ngbDropdown>
      <a class="dropdown-toggle nav-link btn btn-outline-primary" ngbDropdownToggle>{{language.toUpperCase()}}</a>
      <div ngbDropdownMenu>
        <a *ngFor="let availableLanguage of availableLanguages"
           class="dropdown-item"
           [class.active]="isLanguageSelected(availableLanguage.code)"
           (click)="language = availableLanguage.code">
          <span>{{availableLanguage.name}}</span>
        </a>
      </div>
    </li>
  </ul>

</nav>
