<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button [id]="'registries_back_button'" (back)="back()"></app-back-button>

  <h1 class="text-content-wrap" translate>Registries</h1>


  <div class="row">
    <div class="col-md-12">
      <div *ngIf="canAddRegistry()" class="d-inline-block mb-1 ml-3 float-right">
        <button id="create_registry_button"
                type="button"
                class="btn btn-action float-right"
                (click)="createRegistry()"
                translate>Create registry
        </button>
      </div>
      <app-content-language></app-content-language>
    </div>
  </div>

  <div class="codeRegistries row">
    <div id="code_registry_div" class="col-md-12">
      <ul id="code_registry_regular">
        <li *ngFor="let codeRegistry of codeRegistries; trackBy: codeRegistryIdentity">
          <app-code-registry-listitem id="{{codeRegistry.idIdentifier + '_registry_listitem'}}"
                                      [codeRegistry]="codeRegistry"></app-code-registry-listitem>
        </li>
      </ul>
    </div>

    <div class="emptyRegistries" *ngIf="codeRegistries.length === 0">
      <span translate>No registries found.</span>
    </div>
  </div>
</div>
