@import '~yti-common-ui/theme/variables';

:host ::ng-deep .codeSchemes {

  color: $primary;
  font-size: large;
  min-height: 200px;

  .icon {
    width: 20px;
  }

  .codeScheme {
    display: inline-block;
    width: 100%;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    border-left: $active-indicator-width solid $white;

    .name {
      color: $primary;
      font-weight: 400;
      float: left;
    }

    .organization {
      font-size: medium;
      float: right;
      clear: right;
      color: $dark;
    }

    .status {
      margin-top: 0.25rem;
      font-size: medium;
      float: right;
      clear: right;
    }
  }

  ul {
    padding-left: 15px;

    li {
      list-style: none;

      i {
        cursor: pointer;
        margin-left: -15px;
        font-size: 14px;
      }
    }
  }
}

.emptyCodeSchemes {
  margin-right: 200px;
  padding: 10px 40px;
  margin-top: 5px;
}
