<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading">

  <form [formGroup]="codeRegistryForm" #form="ngForm">

    <div class="row">
      <div class="col-12">
        <app-editable-buttons [form]="form"
                              [entity]="codeRegistry"></app-editable-buttons>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10">
        <app-literal [label]="'Registry ID' | translate"
                     [value]="codeRegistry.codeValue"
                     [infoText]="'INFO_TEXT_REGISTRY_VALUE'"></app-literal>

        <app-localizable-input [id]="'registry_name_input'"
                               [label]="'Code registry name' | translate"
                               [infoText]="'INFO_TEXT_REGISTRY_NAME'"
                               [formControlName]="'prefLabel'"></app-localizable-input>

        <app-organizations-input id="registry_organizations_input"
                                 [label]="'Organization' | translate"
                                 [required]="true"
                                 [infoText]="'INFO_TEXT_REGISTRY_ORGANIZATION'"
                                 [formControlName]="'organizations'"></app-organizations-input>

        <app-localizable-textarea [id]="'registry_description_textarea'"
                                  [label]="'Description' | translate"
                                  [infoText]="'INFO_TEXT_REGISTRY_DESCRIPTION'"
                                  [formControlName]="'description'"></app-localizable-textarea>

        <app-clipboard [label]="'URI' | translate"
                       [value]="getRegistryUri()"
                       [showAsLink]="false"
                       [infoText]="'INFO_TEXT_REGISTRY_URI'"></app-clipboard>

        <app-literal [label]="'Last modification' | translate"
                     [value]="codeRegistry.modifiedDisplayValue"
                     [infoText]="'INFO_TEXT_REGISTRY_LAST_MODIFICATION'"></app-literal>
      </div>
    </div>
  </form>
</div>
