@import '~yti-common-ui/theme/variables';

:host /deep/ .codeSchemes {

  color: $primary;
  font-size: large;
  min-height: 200px;

  .icon {
    width: 20px;
  }

  .codeScheme {
    cursor: pointer;
    padding: 10px 40px 10px 10px;
    background-color: $light;
    margin-top: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }

  ul {
    padding-left: 15px;

    li {
      list-style: none;

      i {
        cursor: pointer;
        margin-left: -15px;
        font-size: 14px;
      }
    }
  }
}

.definition {
  padding: 10px 0;
}
