<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button (back)="back()"></app-back-button>

  <div class="row">
    <div class="col-12">
      <h1 class="pull-left" translate>Create code</h1>
      <app-content-language></app-content-language>
    </div>
  </div>

  <form [formGroup]="codeForm" #form="ngForm">

    <app-editable-buttons [form]="form"></app-editable-buttons>

    <app-localizable-literal [label]="'Code list' | translate"
                             [value]="codeScheme.prefLabel"></app-localizable-literal>

    <app-literal-input [label]="'Code value' | translate"
                       [formControlName]="'codeValue'"></app-literal-input>

    <app-localizable-input [label]="'Code name' | translate"
                           [formControlName]="'prefLabel'"></app-localizable-input>

    <app-status-input [formControlName]="'status'"></app-status-input>

    <app-localizable-textarea [label]="'Description' | translate"
                              [formControlName]="'description'"></app-localizable-textarea>

    <app-literal-input [label]="'Short name' | translate"
                       [formControlName]="'shortName'"></app-literal-input>

    <div>
      <app-date-input [label]="'Start date' | translate"
                      [formControlName]="'startDate'"></app-date-input>
  
      <app-date-input [label]="'End date' | translate"
                      [formControlName]="'endDate'"></app-date-input>
    </div>
  </form>
</div>
