<h3>Code</h3>

<table *ngIf='code != null; else codeEmpty'>
  <tr><td>Name</td><td>{{code.prefLabels.en}}</td></tr>
  <tr><td>Code value</td><td>{{code.codeValue}}</td></tr>
  <tr><td>Status</td><td>{{code.status}}</td></tr>
  <tr><td>Modified</td><td>{{code.modified}}</td></tr>
  <tr><td>Start date</td><td>{{code.startDate}}</td></tr>
  <tr><td>End date</td><td>{{code.endDate}}</td></tr>
  <tr><td>Uri</td><td><a href="{{code.uri}}">{{code.uri}}</a></td></tr>
</table>
<ng-template #codeEmpty>
  <tr><td>Name</td><td></td></tr>
  <tr><td>Code value</td><td></td></tr>
  <tr><td>Status</td><td></td></tr>
  <tr><td>Modified</td><td></td></tr>
  <tr><td>Start date</td><td></td></tr>
  <tr><td>End date</td><td></td></tr>
  <tr><td>Uri</td><td></td></tr>
</ng-template>

<p>
  <button (click)="back()">Back</button>
</p>
