<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button (back)="back()"></app-back-button>

  <h1>{{code.codeValue}} - {{code.prefLabels | translateValue}}</h1>

  <div class="row">
    <div class="col-12">
      <app-status class="pull-left" [status]="code.status"></app-status>
      <app-content-language class="pull-right"></app-content-language>
    </div>
  </div>

  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <span translate>INFORMATION</span>
      </ng-template>

      <ng-template ngbTabContent>
        <app-code-information [code]="code"></app-code-information>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
