.table th, .table td {
  border-top: none !important;
  border-left: none !important;
}

.fixed-table-container {
  border: 0;
}

.detailHeading {
  font-size: medium;
  padding: 15px 3px 3px 3px;
  margin: 0;
}

.detailValue {
  font-size: medium;
  padding: 20px 3px 20px 3px;
  margin: 0;
}
