<div *ngIf="loading">
  <app-ajax-loading-indicator></app-ajax-loading-indicator>
</div>

<div *ngIf="!loading" class="content-box">

  <app-back-button [id]="'code_create_back_button'" (back)="back()"></app-back-button>

  <div class="row">
    <div class="col-12">
      <h1 class="pull-left" translate>Create code</h1>
      <app-content-language></app-content-language>
    </div>
  </div>

  <form [formGroup]="codeForm" #form="ngForm">

    <div class="row">
      <div class="col-12">
        <app-editable-buttons [form]="form"></app-editable-buttons>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10">
        <app-localizable-literal [label]="'Code list' | translate"
                                 [value]="codeScheme.prefLabel"></app-localizable-literal>

        <app-literal-input [id]="'code_value_input'"
                           [label]="'Code value' | translate"
                           [formControlName]="'codeValue'"></app-literal-input>

        <app-localizable-input [id]="'code_name_input'"
                               [label]="'Code name' | translate"
                               [formControlName]="'prefLabel'"></app-localizable-input>

        <dl>
          <dd>
            <div>
              <button id="open_terminology_modal_button"
                      type="button"
                      class="btn btn-sm btn-action mt-2"
                      (click)="openTerminologyModal()" translate>Get concept from Controlled Vocabularies</button>
            </div>
          </dd>
        </dl>
        <div *ngIf="codeForm.controls['conceptUriInVocabularies'].value.toString().length > 0">
          <dl>
            <dt><label>{{'Vocabularies URI' | translate}}</label></dt>
            <dd>
              <a>
                <i id="{{'remove_concept_uri_in_vocabularies_link'}}"
                   class="fa fa-times"
                   (click)="removeConceptUriInVocabularies()"></i>
              </a>
              {{codeForm.controls['conceptUriInVocabularies'].value}}
            </dd>
          </dl>
        </div>

        <app-status-input id="code_status_input"
                          [formControlName]="'status'"></app-status-input>

        <app-localizable-textarea [id]="'code_description_textarea'"
                                  [label]="'Description' | translate"
                                  [formControlName]="'description'"></app-localizable-textarea>

        <app-localizable-textarea [id]="'code_definition_textarea'"
                                  [label]="'Definition' | translate"
                                  [formControlName]="'definition'"></app-localizable-textarea>

        <app-literal-input [id]="'code_shortname_input'"
                           [label]="'Short name' | translate"
                           [formControlName]="'shortName'"></app-literal-input>

        <app-date-range-input id="code_validity_input"
                              [label]="'Validity' | translate"
                              [formControlName]="'validity'"></app-date-range-input>

        <app-external-references-input [id]="'code_ext_references_input'"
                                       [label]="'Links' | translate"
                                       [codeSchemeId]="codeScheme.id"
                                       [formControlName]="'externalReferences'"></app-external-references-input>
      </div>
    </div>
  </form>
</div>
