<div class="container-fluid py-5 px-4 content-area">
  <div class="container-fluid py-4 px-4 content-box">
    <div class="row">
      <button type="button" class="backbutton" (click)="back()">←</button>
    </div>

    <div class="row">
      <h1 *ngIf='code != null'>{{code.codeValue}} - {{code.prefLabels.fi}}</h1>
    </div>

    <div class="row">
      <span *ngIf='code != null' class="status bold alignleft" translate>{{code.status}}</span>
    </div>

    <div class="row">
      <span *ngIf='code != null' class="tabNavi bold" translate>INFORMATION</span>
    </div>

    <div class="row">
      <div class="col-md-8" *ngIf='code != null'>
        <label translate>Code scheme</label>
        <span>{{code.codeScheme.prefLabels | translateValue}}</span>

        <label translate>Code value</label>
        <span>{{code.codeValue}}</span>

        <div class="form-group">
          <label for="prefLabel" translate>Code name</label>
          <input id="prefLabel" class="form-control col-5" *ngIf='modifyEnabled' [(ngModel)]="code.prefLabels.fi">
          <span *ngIf='!modifyEnabled'>{{code.prefLabels | translateValue}}</span>
        </div>

        <div class="form-group">
          <label for="description" translate>Description</label>
          <textarea id="description" rows="3" class="form-control col-10" *ngIf='modifyEnabled' [(ngModel)]="code.descriptions.fi"></textarea>
          <span *ngIf='!modifyEnabled'>{{code.descriptions | translateValue}}</span>
        </div>

        <div class="form-group">
          <label translate>Short name</label>
          <input *ngIf='modifyEnabled' class="form-control col-5" [(ngModel)]="code.shortName">
          <span *ngIf='!modifyEnabled'>{{code.shortName}}</span>
        </div>

        <label translate>Validity</label>
        <span>{{code.startDate | date:'d.M.y'}} - {{code.endDate | date:'d.M.y'}}</span>

        <label translate>Last modification</label>
        <span>{{code.modified | date:'d.M.y klo hh:mm'}}</span>
      </div>

      <div class="col-md-4 float-right">
        <div class="row" *ngIf='!modifyEnabled'>
          <button type="button" class="btn actionbutton" (click)="modify()" translate>Modify</button>
        </div>
        <div class="row" *ngIf='modifyEnabled'>
          <button type="button" [disabled]='storing' class="btn actionbutton" (click)="save()" translate>Save</button>
        </div>
        <div class="row" *ngIf='modifyEnabled'>
          <button type="button" class="btn btn-link linkbutton" (click)="cancel()" translate>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
