<nav class="navbar navbar-expand-md navbar-light">

  <div class="navbar-header">
    <div class="navbar-fluid logo">
      <a id="main_page_link" class="navbar-brand" [routerLink]="['/']">
        <div class="logocontainer">
          <span>
            <svg id="flagimage" class="applogo">
              <g>
                <path fill="#003479" d="M53,0H2C0.9,0,0,0.9,0,2v51c0,1.1,0.9,2,2,2h51c1.1,0,2-0.9,2-2V2C55,0.9,54.1,0,53,0z"></path>
                <g>
                  <path fill="#FFFFFF" d="M14,20v-5c0-1.1,0.9-2,2-2h5v7"></path>
                  <path fill="#FFFFFF" d="M14,27h7v14c0,0.5-0.4,1-1,1h-5c-0.6,0-1-0.5-1-1"></path>
                  <path fill="#FFFFFF" d="M28,13h13c0.5,0,1,0.4,1,1v6H28"></path>
                  <path fill="#FFFFFF" d="M41,34H28v-7h14v6C42,33.6,41.6,34,41,34z"></path>
                </g>
              </g>
            </svg>
          </span>
          <span class="apptitle">Koodistot</span>
        </div>
      </a>
    </div>
  </div>

  <ul class="navbar-nav ml-auto">

    <li *ngIf="fakeableUsers.length > 0" class="nav-item dropdown" ngbDropdown>
      <a id="impersonate_user_link" class="nav-link" ngbDropdownToggle translate>Impersonate user</a>
      <div ngbDropdownMenu>
        <a id={{user.email}} class="dropdown-item" *ngFor="let user of fakeableUsers" (click)="fakeUser(user.email)">
          {{user.firstName}} {{user.lastName}}
        </a>
      </div>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn()">
      <a id="log_in_link" class="nav-link" (click)="logIn()" translate>LOG IN</a>
    </li>
    <li class="nav-item logged-in" *ngIf="isLoggedIn()">
      <span>{{user.name}}</span>
      <a id="log_out_link" class="nav-link" (click)="logOut()" translate>LOG OUT</a>
    </li>
    <li class="nav-item dropdown" placement="bottom-right" ngbDropdown>
      <a id="select_lang_dropdown" class="dropdown-toggle nav-link btn btn-language" ngbDropdownToggle>{{language.toUpperCase()}}</a>
      <div ngbDropdownMenu>
        <a *ngFor="let availableLanguage of availableLanguages"
           class="dropdown-item"
           [id]="availableLanguage.code"
           [class.active]="isLanguageSelected(availableLanguage.code)"
           (click)="language = availableLanguage.code">
          <span>{{availableLanguage.name}}</span>
        </a>
      </div>
    </li>
    <li class="nav-item dropdown" placement="bottom-right" ngbDropdown>
      <a id="navigation_menu_dropdown" class="nav-link btn-menu" ngbDropdownToggle>
        <app-menu></app-menu>
      </a>
      <div ngbDropdownMenu>
        <a id="navigation_log_out_link" class="dropdown-item" *ngIf="isLoggedIn()" (click)="logOut()">
          <i class="fa fa-sign-out"></i>
          <span translate>LOG OUT</span>
        </a>
        <a id="navigation_log_in_link" class="dropdown-item" *ngIf="!isLoggedIn()" (click)="logIn()">
          <i class="fa fa-sign-in"></i>
          <span translate>LOG IN</span>
        </a>
        <div class="dropdown-divider" [hidden]="noMenuItemsAvailable"></div>
        <a class="dropdown-item"
           id="navigation_link_user_details"
           *ngIf="isLoggedIn()"
           [routerLink]="['/userDetails']" translate>User details</a>
        <a class="dropdown-item"
           id="navigation_groupmanagement_link"
           *ngIf="showGroupManagementUrl()"
           [href]="groupManagementUrl" target="_blank" translate>User right management</a>
      </div>
    </li>
  </ul>

</nav>
