<nav class="navbar navbar-expand-md navbar-light">

  <a class="navbar-brand" [routerLink]="['/']">
    <app-logo class="pull-left pr-3"></app-logo>
    <span translate>Code List Service</span>
  </a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item" *ngIf="!isLoggedIn()">
      <a class="nav-link" (click)="logIn()" translate>LOG IN</a>
    </li>
    <li class="nav-item logged-in" *ngIf="isLoggedIn()">
      <span>{{user.name}}</span>
      <a class="nav-link" (click)="logOut()" translate>LOG OUT</a>
    </li>
    <li class="nav-item dropdown" placement="bottom-right" ngbDropdown>
      <a class="dropdown-toggle nav-link btn btn-language" ngbDropdownToggle>{{language.toUpperCase()}}</a>
      <div ngbDropdownMenu>
        <a *ngFor="let availableLanguage of availableLanguages"
           class="dropdown-item"
           [class.active]="isLanguageSelected(availableLanguage.code)"
           (click)="language = availableLanguage.code">
          <span>{{availableLanguage.name}}</span>
        </a>
      </div>
    </li>
  </ul>

</nav>
